table {
    width: 100vh;
    border-collapse: collapse;
}
#adminTable{
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.action-box {
    display: flex;
    align-items: center;
}
.status-select {
    margin-right: 10px;
}
.access{
    color: #23B169;
}
.standby{
    color: #FFC107;
}