/* dock */
#dock{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
#dock .dock-container{
    position: relative;
    margin: 0 auto;
    max-width: 480px;
    background: #fff;
    border-top: 1px solid #f9f9f9;
}
#dock .dock-container .dock-menu{
    display: flex;
    height: 48px;
    box-sizing: border-box;
    position: relative;
}
#dock .dock-container .dock-menu a{
    position: relative;
    display: block;
    flex: 1;
    height: 48px;
}
#dock .dock-container .dock-menu a i{
    display: block;
    text-indent: -999em;
    height: 48px;
    /* background: 50% 50% no-repeat; */
    overflow: hidden;
    width: 100%;
    position: relative;
    /* background-size: 25px; */
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    
    background-color: #222222;
}

#dock .dock-container .dock-menu a i.home{
    mask-image: url(../images/dock-home.svg);
}
#dock .dock-container .dock-menu a i.search-icon{
    mask-image: url(../images/dock-search.svg);
}
#dock .dock-container .dock-menu a i.review{
    mask-image: url(../images/dock-review.webp);
    mask-size: 35px;
}
#dock .dock-container .dock-menu a i.mydining{
    mask-image: url(../images/dock-mydining.svg);
}
#dock .dock-container .dock-menu a i.account{
    mask-image: url(../images/dock-account.svg);
}

#dock .dock-container .dock-menu a.active i{
    background-color: #FF3D00;
}