body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Pretendard, sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto; /* 가운데 정렬 */
    padding-top: 50px;
}

body ::-webkit-scrollbar {
    display: none;
  }

.container {
    display: flex; 
    margin: 0 auto; 
    padding: 0 10px;
    justify-content: space-between; 
    align-items: center; 
    height: 48px;
}

/* header */
#header{
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 5%;
    z-index: 1000; 
    background-color: #fff;
    /* border-bottom: 1px solid #e5e5e5; */
}

#header .header-left {
    display: flex;
    align-items: center;
    height: 100%;
}

#header .logo {
    overflow: hidden;
    text-indent: -999em;
    background:  50% 50% no-repeat;
    background-size: 50px;
    width: 50px;
    height: 50px;
    padding: 1px 0 0 1px;
    margin: 0 0 0 -1px;
}

.logo {
    z-index: 1000;
    background: 25% 25% no-repeat;
    height: 100%;
    object-fit: contain;
}

.bookmark_icon, .notice_icon {
    margin: 0 5px; 
}

.header-right img {
    width: 32px;
    align-items: center;
}


/* section */
section {
    padding: 0 20px; /* 섹션 내부 여백을 추가합니다. */
    box-sizing: border-box; /* 패딩이 섹션의 전체 크기에 포함되도록 설정합니다. */
}

/* 화면 크기에 따라 섹션의 높이를 조절하려면 미디어 쿼리를 사용할 수 있습니다. */
@media (max-width: 768px) {
    .section1, .section2 {
        min-height: 200px; /* 모바일 화면에서는 섹션의 최소 높이를 더 크게 조절할 수 있습니다. */
    }
    .section3 {
        min-height: 100px;
    }
}

/* 광고 */

/* 슬라이더 컨테이너 */
.section1{
    padding: 0%;
    margin-bottom: 30px;
}
.swiper-container {
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 각 슬라이드 */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88% !important; 
    height: auto;
    border: 1px solid #333;
    border-radius: 4%;
    margin: 5px;
}

/* 페이지네이션 스타일 */
.swiper-pagination-bullet {
    background: #fff;
   
}

.swiper-pagination-bullet-active {
    background: gray !important; 
}

.swiper-slide img {
    background: center center no-repeat transparent;
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 4%;

}

/* 카테고리 */
.section2 {
    padding: 0%;
    height: 10px;
    width: 100%;
    border-bottom: 7px solid #f9f9f9;
    margin-bottom: 30px;
}

/* shortcut_list_wrap */
.shortcut_list_wrap {
    display: flex;
    justify-content: center;
    padding: 0px 20px 20px;
}

.shortcut_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 15px 0px;
    width: 100%;
    max-width: 600px; 
}

.list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon img {
    width: 50px; 
    height: 50px; 
    margin-bottom: 5px;
}

.list_item .icon_food{
    padding-top: 5px;
}

.list_item .icon_food img {
    width: 43px;
    height: 43px;
    margin-bottom: 5px;
    opacity: 70%;
}

.title {
    font-size: 14px;
    color: #333; 
}



/* 어디로 가시나요 */
.section3 {
    padding-bottom: 45px;
}
.container_scroll {
    display: block;
}

.v_scroll {
    width: 100%;
}

.v_scroll .v_scroll_inner {
    display: inline-block;
    overflow: hidden;
    position: relative;

}

.v_scroll_inner {
    transition: transform 0.3s ease;
    display: flex;
}

.section_header .section_body{
    display: block;
    width: 100%;
    clear: both;
    flex-direction: column;
}

.section_title {
    width: 78%;
    letter-spacing: -.5px;
    font-size: 20px;
    align-items: center;
    display: flex;
    margin-bottom: 16px;
}

.quick_search {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: auto;
}

.quick_search a.icon {
    background-image: url('../images/search.svg');
    width: 60px;
    height: 60px;
    margin: 0px 15px 0px 0px;

}

.quick_search a{
    display: flex;
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    margin-right: 15px;
    white-space: pre-wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.icon1, .icon7 {
    background-color: rgba(0, 0, 0, .4) !important;
    background-image:url('../images/quick_search.png') !important;
    background-blend-mode: multiply;
    color: #f9f9f9;
    font-size: 14px;
}

/* 가게페이지 */



/* 기본 컨테이너 및 헤더 스타일 */
.section4{
    margin-bottom: 70px;
    padding: 0px;
}

.section4 .container_sub {
    display: flex;
    flex-direction: column;
}

.sub_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;
    
}

.sub_header_container{
    display: flex;
    flex-direction: column;
}

.sub_header_title {
    letter-spacing: -.5px;
    font-size: 20px;
    display: flex;
    margin-bottom: 16px;
    margin: 0;
}

.sub_header p {
    font-size: 15px;
    margin: 0;
    
}

.btn-more {
    font-size: 12px;
    margin-right: 5px;
}

/* 슬라이드 관련 스타일 */
.sub_body  .v_scroll {
    overflow: hidden;
    white-space: nowrap;
}


.sub_body  .v_scroll_inner {
    transition: transform 0.5s ease;
}

.restaurant_list {
    padding-left: 20px;
}

.restaurant_list_item, .restaurant_list_item5, .showall {
    display: inline-block;
    margin-right: 10px;
}

.showall{
    margin-right: 30px;
    margin-left: 40px;
    position: relative;
    vertical-align: auto;
    display: inline-block;
    height: 150px;
}
.showall a {
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 5px 15px #0000001a, 0 0 3px #00000014;
    background: #fff url(../images/more.svg) 50% 50% no-repeat;
}

.showall a span {
    position: absolute;
    display: block;
    top: 35%;
    font-size: 11px;
    text-align: center;
    margin-top: 8px;
    font-weight: 500;
    line-height: normal;
    left: 4px;
}

/* 추가적인 스타일링 */
.restaurant_list_item_img {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0; 
    display: block;
    margin-bottom: 10px;
    border-radius: 10%;
}
.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.restaurant_name{
    font-size: 16px;
    margin: 0px 0px 4px;
}

.meta .score::before {
    content: '';
    background: url('../images/star-yellow.svg') 0% 50% no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.meta{
    display: flex;
    align-items: center;
    justify-self: start;
}
.score{
    display: block;
    padding-left: 18px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
    
}
.tags{
    font-size: 12px;
}

/* bookmark */
.btn-bookmark{
    display: block;
    width: 30px;
    min-width: 30px;
    height: 30px;
    background: #fff url(../images/bookmark.svg) 50% 50% no-repeat;
    border-radius: 50%;
    text-indent: -999em;
    overflow: hidden;
}
.btn-bookmark.active {
    background: url(../images/bookmarked.svg) 50% 50% no-repeat;
}

.info {
    text-decoration-line: none;
    color: inherit;
}