/* main */
.signselect-wrapper {
    padding: 6vh 0 40px;
    max-width: 760px;
    margin: 0 auto;
}

.signin-wrapper {
    padding: 16vh 0 40px;
}

.inner {
    margin: 0 auto;
    padding: 0 20px;
    /* border: 1px solid black; */
    max-width: 480px;
}

.logo {
    margin-bottom: 160px;
    background: 25% 25% no-repeat;
    text-indent: -9999px;
    width: 200px;
    height: 100px;
    object-fit: contain;
}

.signin-wrapper .logo {
    margin-bottom: 11vh;
}

.selectDiv {
    display: flex;
}

.owner-select, .customer-select {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.owner-select div, .customer-select div {
    width: 70px;
    height: 70px;
    mask: url(../images/user-regular.svg) 50% 50% no-repeat;
    background-color: #222222;
    margin-bottom: 20px;
}

/* login */
.signin-wrapper form {
    padding: 0 10px;
}

.form-input {
    background: #f9f9f9;
    font-size: 14px;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 16px;
    line-height: 21px;
    box-sizing: border-box;
}

.form-input::placeholder {
    color: #c8c8c8;
}

.form-input.form-input-underline {
    border-bottom: 1px solid #000;
    background-color: transparent;
    border-radius: 0;
    padding: 8px 0;
}

.form-input.form-input-underline:placeholder-shown {
    border-bottom-color: #e8e8e8;
}

span.error-message {
    position: relative;
    bottom: 30px;
    left: 45%;
    font-size: 14px;
    color: red;
}

.create-starter-box {
    display: flex;
}

.create-starter-box a {
    flex: 1;
    text-align: center;
    font-size: 13px;
}

.sticky-bottom-btn {
    /*position: fixed;*/
    position: relative;
    bottom: 0;
    z-index: 99;
    width: auto;
    max-width: 480px;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
    background: rgba(255, 255, 255, .7);
    /*-webkit-backdrop-filter: blur(2px);*/
    backdrop-filter: blur(2px);
    display: flex;
}

.btn {
    padding: 0;
    margin: 0;
    border-radius: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;
}

.sticky-bottom-btn .btn {
    display: block;
    width: 100%;
    flex: 1;

    font-weight: 700;
    background-color: #FF3D00;
    padding: 14px 20px;
    color: white;
    border-radius: 5px;
}

/* Regist */
#header .container {
    margin: 0 auto;
    max-width: 480px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 48px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #fff;
}

#header .header-left {
    display: flex;
    align-items: center;
    height: 100%;
}

#header .header-left .btn-back {
    background: url(../images/arrow-left-solid.svg) 50% 50% no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    text-indent: -999em;
    overflow: hidden;
    margin-right: 6px;
    flex: none;
}

#header .header-left .page-title {
    font-size: 20px;
    font-weight: 700;
    margin-right: 2px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.section .container {
    padding: 0 20px;
}

.form-block .form-block-header {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.form-block .form-block-header .form-block-title {
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
}

.messages {
    position: relative;
    left: 50%;
    bottom: 32px;
    font-size: 14px;
    color: red;
}

.valid {
    border: 4px solid rgba(0, 255, 0, 0.30);
}

.invalid {
    border: 4px solid rgba(255, 0, 0, 0.30);
    animation: shake 1s; /* 애니메이션 이름과 지속 시간 */
}

/*정보 수정 css*/
hr.separator.no-grad {
    background: #ececec !important;
}