/* section */
.section{
    box-sizing: border-box;
}
.section.section-overflow-hidden{
    overflow: hidden;
}

/* tag */
.tag-radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.tag-radio-group label {
    display: block;
    position: relative;
    margin-right: 6px;
}
._1ximz4q2 {
    border-color: #000;
    color: #000;
    background: var(--_1ltqxco3);
}
.tag-radio-group label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.tag-radio-group label .label {
    white-space: nowrap;
    display: block;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    border: 1px solid transparent;
    color: #666;
}
.tag-radio-group input:checked+.label {
    border-color: #000;
    color: #000;
    background: #fff;
}

/* booked-restaurant-list */
.restaurant-meta {
    font-size: 16px;
    font-weight: 500;
}
.restaurant-list-item .detail {
    position: relative;
}
.restaurant-list-item .detail .name {
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 4px;
    line-height: 1.12;

    /* 현재페이지의 아이템에만 적용되는 속성*/
    width: 80%;
    line-height: 25px;
    font-weight: 900;
}
.booked-restaurant-list-item {
    box-shadow: 0px 0px 10px #c8c8c8;
    border-radius: 10px;
    position: relative;
    padding: 20px 20px;
}
.booked-restaurant-list .booked-restaurant-list-item {
    margin-bottom: 20px;
    padding-bottom: 4px;
    position: relative;
}

.booked-restaurant-list-item .restaurant-info {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}
.booked-restaurant-list-item .restaurant-info .tb {
    margin-top: 2px;
    overflow: hidden;
    margin-right: 15px;
}
.booked-restaurant-list-item .restaurant-info .detail {
    flex: 1;
    min-width: 1px;
    align-self: center;
}
.booked-restaurant-list-item .restaurant-info .tb .img {
    width: 50px;
    height: 67px;
    border-radius: 4px;
    background: 50% 50% no-repeat;
    background-size: cover;
    object-fit: cover;
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
}
.booked-restaurant-list-item .restaurant-info .tb .img {
    position: relative;
    overflow: hidden;
}
.booked-restaurant-list-item .restaurant-info .detail .name,
.booked-restaurant-list-item .restaurant-info .detail .excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.booked-restaurant-list-item .restaurant-info .detail .name {
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: 900;
    word-break: break-word;
    line-height: 1.4;
    letter-spacing: -0.1em;
}

.booked-restaurant-list-item .restaurant-info .detail .restaurant-meta .tags {
    display: block;
    color: #aaa;
    margin-bottom: 5px;
    font-size: 13px;
    letter-spacing: -0.15em;
}
.booked-restaurant-list-item .booked-info{
    margin-bottom: 15px !important;
}
.booked-restaurant-list-item .booked-Dday {
    white-space: nowrap;
    background-color: #f9f9f9;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 900;
    padding: 4px 10px;
    border: 1px solid transparent;
    color: #000;
    letter-spacing: -.05em;
}
.booked-restaurant-list-item .booked-status{
    white-space: nowrap;
    background-color: #666;
    border-radius: 18px;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 10px;
    border: 1px solid transparent;
    color: #fff;
    letter-spacing: -.05em;
}
.booked-restaurant-list-item .booked-date-info{
    white-space: nowrap;
    color: #FF3D00;
    font-weight: 900;
}
.booked-restaurant-list-item .booked-date-info span{
    letter-spacing: -.05em!important;
    font-size: 15px;
}

.booked-restaurant-list-item .booked-status.reserved{
    background-color: #FF3D00;
}
.booked-restaurant-list-item .booked-status.complete{
    background-color: #2DB400;
}

.booked-restaurant-list-item.D-DAY{
    box-shadow: 0px 0px 10px #ff3d00;
}
.booked-restaurant-list-item .booked-info{
    position: relative;

}
.booked-info .label{
    white-space: nowrap;
    border-radius: 18px;
    font-weight: 500;
    border: 1px solid #000;
    color: #000;
    background: #fff;
    font-size: 13px;
    padding: 4px 10px;
    letter-spacing: -.05em;
    position: absolute;
    right: 0;
}
.label.reviewed{
    background-color: black;
    color: white;
}
.common_infinity_sc_0{
    overflow: hidden;
}
#main{
    min-height: 30vh;
}
.shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    z-index: 9999;
}
.background-white.modal{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #fff;
}
.background-white.modal .btn.btn-md{
    background-color: #FF3D00;
    color: white;
    border: none;
    font-weight: 700;
}
.background-white.modal p{
    font-weight: 700;
    font-size: 15px;
}