.qww8ue0 {
    width: 32px;
    height: 32px;
    margin-left: 4px;
    background: url(../images/icon_notice_line_reguler_nor.webp) 50% 50% no-repeat;
    position: relative;
    background-size: contain;
}

/* main */
#main{
    padding-bottom: 74px;
}

/* section */
.section{
    box-sizing: border-box;
}
.section.section-overflow-hidden{
    overflow: hidden;
}
.mypage-profile {
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start;
}
.mypage-profile .profile-pic {
    margin-right: 12px;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
}
.profile-pic .img {
    width: 30px;
    height: 30px;
    background: 50% 50% no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-sizing: border-box;
}
.mypage-profile .profile-pic .img {
    background-image: url(../images/profile_default_v2.png);
    width: 70px;
    height: 70px;
    box-sizing: border-box;
}
.mypage-profile .mypage-profile-meta {
    position: relative;
    flex: 1;
    min-width: 0;
    align-self: center;
}
.username {
    font-weight: 500;
    font-size: 14px;
    position: relative;
    display: flex;
    min-width: 0;
}
.mypage-profile .name {
    display: flex;
    font-size: 16px;
    font-weight: 900 !important;
}
.meta {
    display: flex;
    align-items: baseline;
    line-height: 14px;
}
.mypage-profile .mypage-profile-meta .meta {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
.mypage-profile .mypage-profile-meta .meta dl {
    display: flex;
    gap: 5px;
}
.mypage-profile .mypage-profile-meta .meta dl dt {
    color: #666;
    font-size: 12px;
}
.mypage-profile .mypage-profile-meta .meta dl dd {
    font-weight: 700;
    color: #000;
    font-size: 14px;
}
.mypage-profile .mypage-profile-meta .meta>span {
    color: #d5d5d5;
    font-weight: 400;
}
.mypage-profile--desc .btn{
    border-width: 2px;
}

/* collection */
.section .section-header {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 20px;
}
.section .section-header .section-title {
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    display: flex;
    letter-spacing: 0;
    min-width: 1px;
}
.section .section-header .section-title .count {
    font-size: 14px;
    color: #999;
    margin-left: 8px;
    font-weight: 400;
}
.owner-restaurant-list-item {
    position: relative;
}
.owner-restaurant-list .owner-restaurant-list-item {
    margin-bottom: 20px;
    padding-bottom: 4px;
    position: relative;
}
.owner-restaurant-list .owner-restaurant-list-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.owner-restaurant-list-item .restaurant-info {
    display: flex;
    margin-bottom: 16px;
    position: relative;
}
.owner-restaurant-list-item .restaurant-info .tb {
    margin-top: 2px;
    overflow: hidden;
    margin-right: 15px;
}
.owner-restaurant-list-item .restaurant-info .detail {
    flex: 1;
    min-width: 1px;
}
.owner-restaurant-list-item .restaurant-info .tb .img {
    width: 78px;
    height: 104px;
    border-radius: 4px;
    background: 50% 50% no-repeat;
    background-size: cover;
    object-fit: cover;
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
}
.owner-restaurant-list-item .restaurant-info .tb .img {
    position: relative;
    overflow: hidden;
}
.owner-restaurant-list-item .restaurant-info .detail .name,
.owner-restaurant-list-item .restaurant-info .detail .excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.owner-restaurant-list-item .restaurant-info .detail .name {
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: 900;
    word-break: break-word;
    line-height: 1.4;
    letter-spacing: -0.1em;
}
.owner-restaurant-list-item .restaurant-info .detail .excerpt {
    font-size: 11px;
    line-height: 15px;
    color: #000;
    margin-bottom: 8px;
    letter-spacing: -0.12em;
}
.restaurant-meta {
    font-size: 16px;
    font-weight: 500;
}
.restaurant-meta .rating {
    display: flex;
    margin-bottom: 8px;
    align-items: baseline;
    letter-spacing: -.05em !important;
}
.restaurant-meta .rating .star {
    font-size: 14px;
    position: relative;
    padding-left: 18px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 900 !important;
    letter-spacing: -.05em !important;
}
.restaurant-meta .rating .star:before {
    background: url(../images/star-yellow.svg) 0% 50% no-repeat;
    background-size: contain;
    
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}
.restaurant-meta .rating .count {
    vertical-align: middle;
    font-size: 12px;
    margin-left: 5px;
    color: #999;
    font-weight: 400;
    letter-spacing: -.05em !important;
}
.owner-restaurant-list-item .restaurant-info .detail .restaurant-meta .tags {
    display: block;
    color: #aaa;
    margin-bottom: 5px;
    font-size: 11px;
    letter-spacing: -0.15em;
}
.restaurant-meta .price {
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #333;
}
.owner-restaurant-list-item .restaurant-info .detail .restaurant-meta .price {
    display: block;
    color: #aaa;
    font-size: 11px;
    letter-spacing: -0.15em;
}
.owner-restaurant-list-item .restaurant-info .btn-bookmark {
    margin-top: 5px;
    margin-left: 5px;
}
.section .owner-restaurant-list-item .form-input {
    margin-bottom: 16px;
    padding: 15px 20px;
}
/* scrap */
.nodata {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #c8c8c8;
    font-weight: 500;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scrap-wrap .nodata {
    display: block;
}
.v-scroll {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin: 0 -30px -14px;
    padding-bottom: 14px;
}
.container.gutter-sm .v-scroll {
    margin-left: -20px;
    margin-right: -20px;
}
.v-scroll .v-scroll-inner {
    padding: 0 30px;
    display: inline-block;
}
.container.gutter-sm .v-scroll-inner {
    padding: 0 20px;
}

.scrap-wrap .restaurant-list.restaurant-list-sm {
    display: flex;
    flex-wrap: nowrap;
}
.scrap-wrap .restaurant-list.restaurant-list-sm .restaurant-list-item {
    width: 140px;
}
.scrap-wrap .restaurant-list-item .tb {
    border-radius: 4px;
}
.scrap-wrap .restaurant-list.restaurant-list-sm .restaurant-list-item .tb .img {
    position : relative;
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 4px;
}
.scrap-wrap .btn-bookmark {
    position: absolute;
    right: 8px;
    bottom: 8px;
}
.restaurant-list-item .detail {
    position: relative;
}
.restaurant-list-item .detail .name {
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 4px;
    line-height: 1.12;

    /* 현재페이지의 아이템에만 적용되는 속성*/
    width: 80%;
    line-height: 25px;
    font-weight: 900;
}
.scrap-wrap .meta {
    display: block;
}
.scrap-wrap .meta .score {
    margin-top: 4px;
}




/* 추가 css */
#myModal{
    visibility: hidden;
}
.MuiBackdrop-root {
    width: 100%;
    height: 100%;
}
.MuiBackdrop-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: -1;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
}
jss1 .MuiPaper-root {
    background-color: rgba(0, 0, 0, 0);
}
.MuiDrawer-paperAnchorBottom {
    inset: auto 0 0;
    height: auto;
    max-height: 100%;
}
.MuiDrawer-paper {
    top: 108px;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 1200;
    overflow-y: auto;
    flex-direction: column;
    justify-content: end;
    -webkit-overflow-scrolling: touch;
}
.drawer-box {
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    position: relative;
}
.drawer-box .drawer-box-header {
    display: flex;
    align-items: center;
    padding: 18px 20px;
    border-bottom: 1px solid #f1f1f1;
    justify-content: space-between;
}
.drawer-box .drawer-box-header .drawer-box-title {
    font-size: 18px;
    font-weight: 700;
}
.desc-blocks .desc-block {
    display: flex;
    margin-bottom: 25px;
}
.desc-blocks .desc-block dl {
    flex: 1;
}
.desc-blocks .desc-block dl dt {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}
.desc-blocks .desc-block dl dd {
    font-size: 14px;
    line-height: 1.6;
}
.desc-blocks .desc-block .call {
    display: flex;
    color: #0091ff;
    font-size: 14px;
    line-height: 1.6;
}
.desc-blocks .desc-block .call:before {
    content: "";
    background: url(/images/call.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 12.5px;
    margin-right: 4px;
}
.color-gray {
    color: #666 !important;
}
.desc-blocks .desc-block dl dd * {
    line-height: 1.6;
}
.drawer-box .drawer-box-footer {
    padding: 20px;
}
.drawer-box .drawer-box-footer .btn:last-child {
    margin-bottom: 0;
}
.drawer-box .drawer-box-footer .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
.owner-restaurant-list .owner-restaurant-list-item:first-child{
    margin-top: 5px;
}
.owner-restaurant-list .owner-restaurant-list-item {
    margin-bottom: 20px;
    padding-bottom: 4px;
    position: relative;
}
.owner-restaurant-list-item {
    box-shadow: 0px 0px 10px #c8c8c8;
    border-radius: 10px;
    position: relative;
    padding: 20px 20px;
}

/* form */
/* form */
.form-input {
    background: #f9f9f9;
    font-size: 14px;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 16px;
    line-height: 21px;
    box-sizing: border-box;
}

.form-select:focus {
    border-color: #FF3D00;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255,61,0,.25);
}
.form-block .form-block-header {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.form-block .form-block-header .form-block-title {
    font-size: 14px;
    line-height: normal;
    font-weight: 500;

}
.input-control .address-control{
  display: flex;
  margin-bottom: 5px;
}
.input-control.closed-time{
  display: flex;
}
.form-block-body.closed-time{
  display: flex;
}

.input-control.closed-day input:checked{
  width: 15px;
  height: 15px;
  
  background-color: #ff3D00;
}
.form-check-input{
  margin-right: 2px;
}
.form-block-body.closed-day-form{
    display: flex;
    flex-wrap: wrap;
}
.form-block-body.closed-day-form .input-control{
    margin-right: 20px;
}
.form-block-body.closed-day-form .input-control label{
    margin-top: .25em;
}
/* form */

.closed-day .form-check-input:disabled{
    opacity: 1;
}
.closed-day .form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label {
    cursor: default;
    opacity: 1;
}
.btn-box{
    display: flex;
    justify-content: end;
    visibility: hidden;
}
.owner-restaurant-info .btn{
    margin-bottom: 10px;
    margin-top: -22px;

}
.sticky-bottom-btn {
    /*position: fixed;*/
    position: relative;
    bottom: 0;
    z-index: 99;
    width: auto;
    max-width: 480px;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
    background: rgba(255, 255, 255, .7);
    /*-webkit-backdrop-filter: blur(2px);*/
    backdrop-filter: blur(2px);
    display: flex;
    gap : 5px;
}
.sticky-bottom-btn .btn {
    display: block;
    width: 100%;
    flex: 1;

    font-weight: 700;
    background-color: #FF3D00;
    padding: 14px 20px;
    color: white;
    border-radius: 5px;
}
.sticky-bottom-btn .btn a{
    color: white;
    font-weight: 700;
}

.reservation-btn-box{
    display: flex;
    gap: 10px;
}
.reservation-btn{
    flex: 1;
    padding: 14px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    background-color: #FF3D00;
    text-align: center;
}
.reservation-btn.reject{
    background-color: #adb5bd;
}
.booked-restaurant-list-item.request{
    margin-bottom: 18px;
}
.booked-restaurant-list-item.request .restaurant-info{
    margin-bottom: 8px;
}
.shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    z-index: 9999;
}
.background-white.modal{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #fff;
}
.background-white.modal .btn.btn-md{
    background-color: #FF3D00;
    color: white;
    border: none;
    font-weight: 700;
}
.background-white.modal p{
    font-weight: 700;
    font-size: 15px;
}