.section .container{
    padding: 0 20px;
}

/* form */
.form-input {
    background: #f9f9f9;
    font-size: 14px;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 16px;
    line-height: 21px;
    box-sizing: border-box;
}

.form-select:focus {
    border-color: #FF3D00;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255,61,0,.25);
}
.form-block .form-block-header {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.form-block .form-block-header .form-block-title {
    font-size: 14px;
    line-height: normal;
    font-weight: 500;

}
.input-control .address-control{
    display: flex;
    margin-bottom: 5px;
}
.input-control.closed-time{
    display: flex;
}
.form-block-body.closed-time{
    display: flex;
}

.input-control.closed-day input:checked{
    width: 15px;
    height: 15px;

    background-color: #ff3D00;
}
.form-check-input{
    margin-right: 2px;
}
.form-block-body.closed-day-form{
    display: flex;
    flex-wrap: wrap;
}
.form-block-body.closed-day-form .input-control{
    margin-right: 20px;
}
.form-block-body.closed-day-form .input-control label{
    margin-top: .25em;
}

.sticky-bottom-btn {
    /*position: fixed;*/
    position: relative;
    bottom: 0;
    z-index: 99;
    width: auto;
    max-width: 480px;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
    background: rgba(255, 255, 255, .7);
    /*-webkit-backdrop-filter: blur(2px);*/
    backdrop-filter: blur(2px);
    display: flex;
    gap : 5px;
}
.sticky-bottom-btn .btn {
    display: block;
    width: 100%;
    flex: 1;

    font-weight: 700;
    background-color: #FF3D00;
    padding: 14px 20px;
    color: white;
    border-radius: 5px;
}
.input-control{
    position: relative;
}
.field-error{
    color: red;
    position: absolute;
    right: 50px;
    top:33%;
    font-size: 15px;
}
.address-control .field-error{
    right: 110px;
}
div.field-error{
    margin-top: 3px;
}
.form-block-body{
    position: relative;
}
.form-block-body.closed-time .field-error{
    position: absolute;
    top: auto;
    bottom: -35px;
}

.form-block-body.closed-day-form .field-error{
    right: auto;
    top: auto;
    bottom: -30px;
}
.valid {
    border: 4px solid rgba(0, 255, 0, 0.30);
}
.invalid{
    border: 4px solid rgba(255,0,0,0.3);
    animation: shake 1s;
}
.menu-add-item{
    box-shadow: 0px 0px 10px #c8c8c8;
    margin-bottom: 5px;
    padding: 10px;
}