<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">
        <link rel="stylesheet" href="../../resources/css/restaurantInfo.css" th:href="@{/css/menuList.css}" />
        <title>페이지 제목</title>
    </head>
    <body class="disable-user-select">
        <div id="root">
            <!--상단-->
            <div class="wrapper" id="wrapperDiv">
                <header id="header" class="opaque">
                    <div class="container">
                        <div class="header-left">
                            <a class="btn-back" th:href="@{|/restaurant/detail/${restaurant_seq}|}">뒤로</a>
                            <h1 class="page-title" style="padding-right: 4px;" th:text="${restaurantInfo.restaurant_name}">숙성도 중문점</h1>
                        </div>
                    </div>
                </header>

                <!--홈 메뉴 사진 리뷰-->
                <main id="main">
                    <div class="tab-menu sticky" style="top: 48px;">
                        <ul>
                            <li class="none"><a th:href="@{|/restaurant/detail/${restaurant_seq}|}"><span>홈</span></a></li>
                            <li class="active"><a><span>메뉴</span></a></li>
                            <li class="none"><a th:href="@{|/restaurant/detail/${restaurant_seq}/photo|}"><span>사진</span><span style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;"></span></a></li>
                            <li class="none"><a th:href="@{|/restaurant/detail/${restaurant_seq}/review|}"><span>리뷰</span><span style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;"></span></a></li>
                        </ul>
                    </div>
                    
                    <section class="menu-img-list">
                        <div class="container gutter-sm">
                            <h3>메뉴판</h3>
                            <div class="v-scroll">
                                <div class="v-scroll-inner">
                                    <ul class="menu-simple-list">
                                        <li><a href="#"><img src="https://ugc-images.catchtable.co.kr/catchtable/shopmenupan/sNFiCk5XJ_OhZakVLcUSeUg/cb15e5ed5bf4463aacf84db1f9297e9b" alt="메뉴판 이미지" style="background: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;) center center no-repeat transparent;"></a></li>
                                        <li><a href="#"><img src="https://ugc-images.catchtable.co.kr/catchtable/shopmenupan/sNFiCk5XJ_OhZakVLcUSeUg/3d7a6a08db134e59a2bb5058178c9ba4" alt="메뉴판 이미지" style="background: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;) center center no-repeat transparent;"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="menu-collapsed-list">
                        <div class="menu-collapsed-item">
                            <a href="#" class="submenu-item" th:each="menu : ${menuList}">
                                <div class="menu-info">
                                    <div class="name">
                                        <h4 th:text="${menu.menu_name}">떡도리탕 중(2-3인)</h4>
                                    </div>
                                    <span class="price" th:text="${menu.menu_price}">29,000원</span>
                                </div>
                            </a>

                        </div>
                        <div class="container gutter-sm pt-20 mb-30">
                            <p class="font-12 mb-6">* 메뉴와 가격은 레스토랑 사정에 따라 달라질 수 있습니다.</p>
                            <p class="txt-right font-11 color-gray">마지막 업데이트 일자 : 2024.04.02</p>
                        </div>
                        <hr class="space-40">
                    </div>
                </main>
                <aside id="dock" class="pgjaj00">
                    <div class="_1kfi3w60">
                        <button class="btn-bookmark-detail2" th:classappend="${isZzimed ? 'active' : ''}" th:data-restaurant-seq="${restaurantInfo.restaurant_seq}">저장</button>
                        <button class="_1kfi3w61">저장</button>
                        <span class="_1kfi3w63" th:text="${restaurantInfo.zzim_total}">1,441</span>
                    </div>
                    <button class="pgjaj01" type="button">
                        <div class="pgjaj02 pgjaj04">예약하기</div>
                    </button>
                </aside>
            </div>
        </div>
    <script>
            document.querySelector(".btn-back").addEventListener('click', () => {
            history.back();
        });
    </script>
    </body>
</html>