<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">
        <link rel="stylesheet" th:href="@{/css/notice.css}" />
        <title>페이지 제목</title>
    </head>
    <body class="disable-user-select" style="">
        <div id="root">
            <div class="wrapper" id="wrapperDiv">
                <div>
                    <header id="header" class="opaque">
                        <div class="container">
                            <div class="header-left">
                                <a  th:href="@{|/restaurant/detail/${restaurant_seq}|}" class="btn-back" >뒤로</a>
                                <h1 class="page-title">매장 공지사항</h1>
                            </div>
                        </div>
                    </header>
                    <main id="main">
                        <div class="__accordion-list">
                            <article id="29280" class="__accordion-list-item">
                                <a class="__header">
                                    <h3 class="__title" th:text="|${restaurantInfo.restaurant_name} 공지|"></h3>
                                    <span class="__date">2024.03.21~2024.04.30</span>
                                </a>
                                <div class="__body">
                                    <p style="white-space: pre-line;" th:text="${restaurantDetailDTO.description_detail}">
                                        공지임다
                                    </p>
                                </div>
                            </article>
                        </div>
                    </main>
            </div>
            <aside id="dock" class="pgjaj00">
                <div class="_1kfi3w60">
                    <button class="_1kfi3w61" th:classappend="${isZzimed ? 'active' : ''}" th:data-restaurant-seq="${restaurantInfo.restaurant_seq}">저장</button>
                    <span class="_1kfi3w63" th:text="${restaurantInfo.zzim_total}">1,441</span>
                </div>
                <button class="pgjaj01" type="button">
                    <div class="pgjaj02 pgjaj04">예약하기</div>
                </button>
            </aside>
            </div>
        </div>
    <script src="http://code.jQuery.com/jquery-3.7.1.min.js"></script>
    <script>

        $('#29280').click(function () {
            document.getElementById('29280').classList.toggle('open');
        });

            document.querySelector(".btn-back").addEventListener('click', () => {
            history.back();
        });
        </script>
    </body>
</html>