<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">
    <link rel="stylesheet" th:href="@{/css/photo.css}"/>
    <title>사진</title>
</head>
<body class="disable-user-select">
<div id="root">
    <div class="wrapper" id="wrapperDiv">
        <header id="header" class="opaque">
            <div class="container">
                <div class="header-left">
                    <a class="btn-back" th:href="@{|/restaurant/detail/${restaurant_seq}|}">뒤로</a>
                    <h1 class="page-title" style="padding-right: 4px;" th:text="${restaurantInfo.restaurant_name}">숙성도 중문점</h1>
                </div>
            </div>
        </header>
        <main id="main">
            <div class="tab-menu sticky" style="top: 48px;">
                <ul>
                    <li class=""><a th:href="@{|/restaurant/detail/${restaurant_seq}|}"><span>홈</span></a></li>
                    <li class=""><a th:href="@{|/restaurant/detail/${restaurant_seq}/menuList|}"><span>메뉴</span></a>
                    </li>
                    <li class="active"><a><span>사진</span><span
                            style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;"></span></a>
                    </li>
                    <li class=""><a th:href="@{|/restaurant/detail/${restaurant_seq}/review|}"><span>리뷰</span><span
                            style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;"></span></a>
                    </li>
                </ul>
            </div>
        </main>
        <div class="flex-content">
            <img th:each="picture : ${pictures}"
                 th:src="|https://kr.object.ncloudstorage.com/bitcamp-6th-bucket-97/review/${picture.picture_url}|"
                 style="height: 127.5px; width: 127.5px; margin: 1px 1px;"
                 onclick="openModal(this.src)" />
        </div>

        <div class="modal">
            <header id="modal_header" class="opaque">
                <div class="container">
                    <div class="modal_header-left">
                        <a class="xx" onclick="closeModal()">뒤로</a>
                        <h1 class="page-title" style="padding-right: 4px;" th:text="${restaurantInfo.restaurant_name}">덕후선생 청담점</h1>
                    </div>
                </div>
            </header>
            <div class="image-index">
                <a class="prevBtn" onclick="prevImage()">이전</a>
                <span id="currentIndex">1</span> / <span id="totalIndex">1</span>
                <a class="nextBtn" onclick="nextImage()">다음</a>
            </div>
            <img id="modalImg" class="modal-content" />
        </div>

    </div>
</div>

<script>
    document.querySelector(".btn-back").addEventListener('click', () => {
        history.back();
    });

    function openModal(src) {
        var modal = document.querySelector('.modal');
        var modalImg = document.getElementById('modalImg');
        modal.style.display = 'block';
        modalImg.src = src;
    }

    function closeModal() {
        var modal = document.querySelector('.modal');
        modal.style.display = 'none';
    }


    const modalImg = document.getElementById('modalImg');
    const prevBtn = document.querySelector('.modal .prevBtn');
    const nextBtn = document.querySelector('.modal .nextBtn');

    let currentIndex = 0;

    let pictures = [];
    const imageElements = document.querySelectorAll('.flex-content img');
    imageElements.forEach(img => {
        pictures.push(img.src);
    });

    prevBtn.addEventListener('click', () => {
        currentIndex = (currentIndex - 1 + pictures.length) % pictures.length;
        modalImg.src = pictures[currentIndex];
        updateImageIndex();
    });

    nextBtn.addEventListener('click', () => {
        currentIndex = (currentIndex + 1) % pictures.length;
        modalImg.src = pictures[currentIndex];
        updateImageIndex();
    });

    prevBtn.addEventListener('click', prevImage);

    function prevImage() {
        currentIndex = (currentIndex - 1 + pictures.length) % pictures.length;
        modalImg.src = pictures[currentIndex];
        updateImageIndex();
    }

    nextBtn.addEventListener('click', nextImage);

    function nextImage() {
        currentIndex = (currentIndex + 1) % pictures.length;
        modalImg.src = pictures[currentIndex];
        updateImageIndex();
    }

    const currentIndexEl = document.getElementById('currentIndex');
    const totalIndexEl = document.getElementById('totalIndex');

    function updateImageIndex() {
        currentIndexEl.textContent = currentIndex + 1;
        totalIndexEl.textContent = pictures.length;
    }
</script>
</body>

</html>