<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" name="viewport" />
        <link th:replace="~{template/common-js :: common-links}" />
        <link rel="stylesheet" href="../../resources/css/search-common.css" th:href="@{/css/search-common.css}" />
        <link rel="stylesheet" href="../../resources/css/restaurantInfo.css" th:href="@{/css/restaurantInfo.css}" />
        <link rel="stylesheet" href="../../resources/css/restaurant-modal.css" th:href="@{/css/restaurant-modal.css}" />
        <script src="https://code.jQuery.com/jquery-3.7.1.min.js"></script>
        <!-- Swiper JS -->
        <script defer src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script defer src="../../resources/js/zzim.js" th:src="@{/js/zzim.js}"></script>
        <script defer src="../../resources/js/restaurantInfo.js" th:src="@{/js/restaurantInfo.js}"></script>
        <script defer type="text/javascript" src="../../resources/js/restaurant-modal.js" th:src="@{/js/restaurant-modal.js}"></script>
        <title>페이지 제목</title>
    </head>
    <body class="disable-user-select" style>
        <div class="wrapper" id="wrapperDiv">
            <header class="_9j16x80">
                <div class="_9j16x81 _9j16x82">
                    <div class="_9j16x83">
                        <a class="_9j16x84 _9j16x85" th:href="@{/search}">뒤로</a>
                        <a class="_9j16x84 _9j16x86" th:href="@{/}">홈</a>
                    </div>
                    <div class="_9j16x83">
                        <button class="_9j16x84 btn-bookmark-detail" th:classappend="${isZzimed ? 'active' : ''}" th:data-restaurant-seq="${restaurantInfo.restaurant_seq}">저장</button>
                    </div>
                </div>
            </header>
        </div>
            <main id="main">

                <div class="section">
                    <!--가게 메인 사진-->
                    <img class="rest_main" th:src="|https://kr.object.ncloudstorage.com/bitcamp-6th-bucket-97/storage/${restaurantDetailDTO.image_url}|" alt="대표사진"/>
                </div>

                    <section class="section">
                        <div class="container gutter-sm pt-24 pb-24">
                            <div class="restaurant-summary">
                                <span class="_4qv3383 _1ltqxco1e" th:text="|${restaurantInfo.tag} ⎢${restaurantInfo.address1}|">돼지고기구이 | 제주 서귀포</span>
                                <h2 class="_1ltqxco19" th:text="${restaurantInfo.restaurant_name}">숙성도 중문점</h2>
                                <div class="_4qv338e">
                                    <span class="stars yellow">
                                        <i class="star full" style="width: 14px; height: 14px"></i>
                                        <i class="star full" style="width: 14px; height: 14px"></i>
                                        <i class="star full" style="width: 14px; height: 14px"></i>
                                        <i class="star full" style="width: 14px; height: 14px"></i>
                                        <i class="star half" style="width: 14px; height: 14px"></i>
                                    </span>
                                    <span class="_4qv3386" th:text="${restaurantInfo.rating} ">평점</span>
                                    <a th:href="@{|/restaurant/detail/${restaurant_seq}/review|}">
                                        <span class="review_count" th:text="|${restaurantInfo.review_total} 개 리뷰|">리뷰수 </span>
                                        <img src="./image/icons/arrow-right-gray.svg" th:src="@{/images/arrow-right-gray.svg}" style="margin-top: 1px" />
                                    </a>
                                </div>
                            </div>
                            <div class="_4qv3388">
                                <p class="_1ltqxco1c" th:text="${restaurantInfo.description}">
                                    교차숙성으로 유명한 제주 흑돼지 맛집
                                    <br />
                                    웨이팅 방법 및 영업시간은 하단 상세정보에서 확인해주세요.
                                    <br />
                                    *예약-당일 2시간 전까지 접수 가능합니다.
                                    <br />
                                    *웨이팅-12시부터 온라인웨이팅 오픈됩니다.
                                    <br />
                                    아래 예약/웨이팅 중 원하시는 버튼을 선택 후 등록해주세요.
                                </p>
                                <div class="_4qv3389">
                                    <span class="_4qv338a lunch dinner"> 점심 저녁 동일가 2-4만원 </span>
                                </div>
                                <!--class="_4qv3389"-->
                            </div>
                            <!--class="_4qv3388"-->
                            <div class="_4qv338g"></div>
                            <div class="_4qv338c">
                                <a class="_4qv338d call" id="phone"> 전화 </a>
                                <a class="_4qv338d location" id="location"> 위치 </a>
                                <a class="_4qv338d building" id="mymybtn"> 매장정보 </a>
                            </div>
                        </div>

                        <!--예약-->
                        <hr class="separator" />
                        <div>
                            <div class="ce8v0l0">
                                <button type="button" id="service-type-tab-VISIT_RESERVATION" class="ce8v0l1 _1ltqxco1c ce8v0l2">예약</button>
                            </div>
                            <section class="section pb-30 pt-24">
                                <div class="container gutter-sm">
                                    <div class="section-header pb-12 mb-0">
                                        <h3 class="section-title">예약 일시</h3>
                                    </div>
                                    <div class="section-body">
                                        <div class="mb-8">
                                            <a href="#" class="btn btn-lg btn-outline btn-cta full-width arrowdown">
                                                <span>
                                                    <span class="label calendar">
                                                        <span class="date"></span>
                                                        <span class="hour"></span>
                                                        <span class="person"></span>

                                                    </span>
                                                </span>
                                            </a>
                                        </div>

                                        <!--<div class="btn-centered" style="text-align: center; border: none">
                                            <a th:href="@{|/restaurant/Dining|}" class="btn btn-rounded btn-outline-red">
                                                <span class="label arrow">예약하러 가기</span>
                                            </a>
                                        </div>-->
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!--홈 메뉴 사진 리뷰-->
                        <hr class="separator" />
                        <div class="tab-menu sticky" style="top: 48px" >
                            <ul>
                                <li class="active">
                                    <a><span>홈</span></a>
                                </li>

                                <li class="" >
                                    <a th:href="@{|/restaurant/detail/${restaurant_seq}/menuList|}"><span>메뉴</span></a>
                                </li>
                                <li class="">
                                    <a th:href="@{|/restaurant/detail/${restaurant_seq}/photo|}" style="display: flex; align-items: center"><span>사진</span></a>
                                </li>
                                <li class="">
                                    <a th:href="@{|/restaurant/detail/${restaurant_seq}/review|}" style="display: flex; align-items: center"><span>리뷰</span><span style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px"></span></a>
                                </li>
                            </ul>
                        </div>

                        <!--홈 / 공지-->
                        <section class="section pt-30 pb-30 section-overflow-hidden">
                            <div class="container gutter-sm">
                                <div class="section-header mb-30">
                                    <h3 class="section-title __sm">레스토랑 공지</h3>
                                    <div class="utils">
                                        <a th:href="@{|/restaurant/detail/${restaurant_seq}/notice|}" class="__btn-all" style="color: black; text-decoration: none">전체보기</a>
                                    </div>
                                </div>
                                <div class="section-body" style="overflow: hidden">
                                    <div class="v-scroll">
                                        <div class="v-scroll-inner">
                                            <div class="__restaurant-notice-v2" style="display: flex; flex-wrap: nowrap">
                                                <div class="swiper-slide" style="width: 350px; margin-right: 10px">
                                                    <article class="__restaurant-notice-v2-item">
                                                        <div class="__notice-content">
                                                            <div class="__pic">
                                                                <div class="img"></div>
                                                            </div>
                                                            <div class="__desc" >
                                                                <p th:text="${restaurantDetailDTO.description_detail}">
                                                                    공지임다
                                                                </p>
                                                                <a class="__more" th:href="@{|/restaurant/detail/${restaurant_seq}/notice|}">
                                                                    <span>더보기</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <hr class="separator" />

                        <section class="section pt-30">
                            <div class="container gutter-sm">
                                <div class="mb-16 section-header">
                                    <h3 class="section-title __sm">편의시설</h3>
                                </div>
                                <div class="section-body">
                                    <div class="restaurant-features mb-20">
                                        <span class="feature-item">
                                            <img th:src="@{/images/ic_parking.svg}" src="/image/icons/ic_parking.svg" alt="" class="icon" />
                                            <span class="label">주차 가능</span>
                                        </span>
                                        <span class="feature-item">
                                            <img th:src="@{/images/ic_corkage.svg}" src="/image/icons/ic_corkage.svg" alt="" class="icon" />
                                            <span class="label">콜키지 가능</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="__notes ml--20 mr--20">
                                    <div class="__notes-item" id="__notes-item">
                                        <a class="__toggle">주차 정보</a>
                                        <div class="__note">
                                            <p th:text="${restaurantDetailDTO.parking}">[기본요금체계]<br />10:00 - 20:00 10분당 평일 300원, 주말 500원<br />그외 시간 : 200원, 1일 최대 요금 45,000원</p>
                                        </div>
                                    </div>
                                    <div class="__notes-item" id="__notes-item2">
                                        <a class="__toggle">주류 및 콜키지 안내</a>
                                        <div class="__note">
                                            <p th:text="${restaurantDetailDTO.drink}">- 고든램지버거 레스토랑에서는 더 나은 서비스 제공을 위해 콜키지를 시행합니다. ※ 콜키지 비용 - 병당 2만원</p>
                                        </div>
                                    </div>
                                    <div class="__notes-item" id="__notes-item3">
                                        <a class="__toggle">웰컴키즈존</a>
                                        <div class="__note">
                                            <p th:text="${restaurantDetailDTO.kidszone}">- 유모차 반입 및 아기의자 필요 여부와 갯수를 반드시 요청사항에 작성해주세요.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <hr class="separator" />

                        <section class="section pt-30 pb-16">
                            <div class="container gutter-sm">
                                <div class="section-header">
                                    <h3 class="section-title">메뉴</h3>
                                    <div class="utils">
                                        <a th:href="@{|/restaurant/detail/${restaurant_seq}/menuList|}" class="__btn-all">전체보기</a>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="menupan-item-list" th:each="menu : ${menuList}">
                                        <div class="__menupan-item">
                                            <div class="__name">
                                                <h4 th:text="${menu.menu_name}">고기류</h4>
                                                <div class="__price" th:text="${menu.menu_price}">19,000~23,000원</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a th:href="@{|/restaurant/detail/${restaurant_seq}/menuList|}" class="btn-menupan-photo" style="text-decoration: none">
                                        <span>메뉴 전체보기</span>
                                    </a>
                                </div>
                            </div>
                        </section>

                        <!--사진-->
                        <hr class="separator" />
                        <section class="section pt-30 pb-30">
                            <div class="container gutter-sm">
                                <div class="section-header">
                                    <h3 class="section-title">
                                        사진
                                        <span class="count">668</span>
                                    </h3>
                                    <div class="utils"><a th:href="@{|/restaurant/detail/${restaurant_seq}/photo|}" class="__btn-all">전체보기</a></div>
                                </div>
                                <div class="section-body">
                                    <div class="photo-grid-list-item" th:each="picture, stat : ${pictures}" th:if="${stat.index < 6}">
                                        <a th:href="@{|/restaurant/detail/${restaurant_seq}/photo|}" class="tb">
                                            <div class="img">
                                                <img th:src="|https://kr.object.ncloudstorage.com/bitcamp-6th-bucket-97/review/${picture.picture_url}|"
                                                     style="height: 110.5px; width: 110.5px; margin: 1px 1px; float: left;" />
                                                <div th:if="${stat.index == 5}" class="count" style="position: absolute; z-index: 1;">
                                                    <span th:text="|${pictureCount} +|"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- 비슷한 레스토랑 찾아오는 쿼리 -->
                        <hr class="separator" />
                        <div style="margin-bottom: 20px;">
                            <section class="section pt-30 pb-30">
                                <div class="container gutter-sm">
                                    <div class="section-header">
                                        <h3 class="section-title" style="max-width: 80%">비슷한 레스토랑 추천</h3>
                                        <div class="utils">
                                            <a class="btn-all" th:href="@{|/search/category/${restaurantInfo.category_seq}|}">전체보기</a>
                                        </div>
                                    </div>
                                    <div class="section-body">
                                        <div class="v-scroll">
                                            <div class="v-scroll-inner">
                                                <div class="restaurant-list restaurant-list-sm" style="display: flex; flex-wrap: nowrap">
                                                    <div th:each="similarRestaurant : ${similarRestaurants}">
                                                        <div class="restaurant-list-item">
                                                            <a th:href="@{|/restaurant/detail/${similarRestaurant.restaurant_seq}|}" class="tb">
                                                                <div class="img">
                                                                    <img class="rest_main" th:src="|https://kr.object.ncloudstorage.com/bitcamp-6th-bucket-97/storage/${similarRestaurant.image_url}|" alt="Restaurant Image">
                                                                </div>
                                                            </a>
                                                            <div class="detail">
                                                                <a href="">
                                                                    <!-- 레스토랑 이름과 평점, 태그 등을 새로운 데이터로 수정합니다 -->
                                                                    <h3 class="name" th:text="${similarRestaurant.restaurant_name}">가게이름</h3>
                                                                    <div class="meta">
                                                                        <span class="score" th:text="${similarRestaurant.rating}">평점</span>
                                                                        <span class="tags" th:text="${similarRestaurant.tag}">태그</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <hr class="separator" />
                        <hr class="separator" />
                        <hr class="separator" />
                        <hr class="separator" />
                    </section>
                </div>
            </main>
            <aside id="dock" class="pgjaj00">
                <div class="_1kfi3w60">
                    <button class="btn-bookmark-detail2" th:classappend="${isZzimed ? 'active' : ''}" th:data-restaurant-seq="${restaurantInfo.restaurant_seq}">저장</button>
                    <span class="_1kfi3w63" th:text="${restaurantInfo.zzim_total}">총찜수</span>
                </div>
                <form th:action th:object="${reservationJoinDTO}" method="post">
                    <input class="date" type="hidden" name="date" th:value="${session.wantingDate}" />
                    <input class="hour" type="hidden" name="hour" th:value="${session.wantingHour}"/>
                    <input class="person" type="hidden" name="person"  th:value="${session.wantingPerson}" />
<!--                        <input class="date" type="hidden" name="date" th:value="${session.wantingDate}" />-->
<!--                        <input class="hour" type="hidden" name="hour" th:value="${session.wantingHour}" />-->
<!--                        <input class="person" type="hidden" name="person"  th:value="${session.wantingPerson}" />-->
                </form>
                <button type="submit" class="pgjaj01">
                    <div class="pgjaj02 pgjaj04">예약하기</div>
                </button>

            </aside>



        <!--모달/매장정보-->
        <div role="presentation" id="myModal" class="MuiDrawer-root MuiDrawer-modal jss1" style="position: fixed; z-index: 100000; inset: 0px; ">
            <div class="MuiBackdrop-root" aria-hidden="true" style="opacity: 1; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms"></div>
            <div tabindex="0" data-test="sentinelStart"></div>
            <div
                class="MuiPaper-root MuiDrawer-paper MuiDrawer-paperAnchorBottom MuiPaper-elevation0"
                tabindex="-1"
                style="transform: none; transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms"
            >
                <div class="drawer-box" style="position: sticky; background-color: rgb(255, 255, 255); top: 0; left: 0; right: 0; z-index: 99">
                    <div
                        class="drawer-box-header"
                        style="
                            border-radius: 20px 20px 0 0;
                            border-bottom: none;
                            justify-content: center;
                            position: sticky;
                            background-color: rgb(255, 255, 255);
                            top: 0;
                            left: 0;
                            right: 0;
                            z-index: 99;
                        "
                    >
                        <h2 class="drawer-box-title" th:text="${restaurantInfo.restaurant_name}">숙성도 중문점</h2>
                    </div>
                    <div class="drawer-box-body" style="padding: 0; overflow-y: auto; position: static; max-height: 70vh">
                        <section class="section pt-30">
                            <div class="container gutter-sm">
                                <div class="section-body">
                                    <div class="desc-blocks" style="word-break: break-word">
                                        <div class="desc-block">
                                            <dl>
                                                <dt><a class="__toggle">전화번호</a></dt>
                                                <dd><a class="call" th:text="${restaurantInfo.phone}">064-739-5213</a></dd>
                                            </dl>
                                        </div>
                                        <div class="desc-block">
                                            <dl>
                                                <dt><a class="__toggle">매장 소개</a></dt>
                                                <dd class="color-gray" th:text="${restaurantDetailDTO.description_detail}">
                                                    --
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="desc-block">
                                            <dl>
                                                <dt><a class="__toggle">영업시간</a></dt>
                                                <dd class="color-gray" th:text="${restaurantDetailDTO.openhour_detail}">
                                                    --
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="desc-block">
                                            <dl>
                                                <dt><a class="__toggle">안내 및 유의사항</a></dt>
                                                <dd class="color-gray" th:text="${restaurantDetailDTO.precaution}">
                                                    --
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="drawer-box-footer" style="bottom: 0; left: 0; right: 0; z-index: 99; background-color: rgb(255, 255, 255)">
                        <button class="btn btn-lg btn-red" id="myBtn" style="border-radius: 6px">확인</button>
                    </div>
                </div>

            </div>
            <div tabindex="0" id="end" data-test="sentinelEnd"></div>


        </div>
        <!--모달/위치-->
        <div role="presentation" id="myLocation" class="MuiDrawer-root MuiDrawer-modal jss1" style="position: fixed; z-index: 100000; inset: 0px; ">
            <div class="MuiBackdrop-root" aria-hidden="true" style="opacity: 1; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms"></div>
            <div tabindex="0" data-test="sentinelStart"></div>
            <div
                    class="MuiPaper-root MuiDrawer-paper MuiDrawer-paperAnchorBottom MuiPaper-elevation0"
                    tabindex="-1"
                    style="transform: none; transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms"
            >
                <div class="drawer-box" style="position: sticky; background-color: rgb(255, 255, 255); top: 0; left: 0; right: 0; z-index: 99">
                    <div
                            class="drawer-box-header"
                            style="
                            border-radius: 20px 20px 0 0;
                            border-bottom: none;
                            justify-content: center;
                            position: sticky;
                            background-color: rgb(255, 255, 255);
                            top: 0;
                            left: 0;
                            right: 0;
                            z-index: 99;
                        "
                    >
                        <h2 class="drawer-box-title" th:text="${restaurantInfo.restaurant_name}">숙성도 중문점</h2>
                    </div>
                    <div class="drawer-box-body" style="padding: 0; overflow-y: auto; position: static; max-height: 70vh">
                        <section class="section pt-30">
                            <div class="container gutter-sm">
                                <div class="section-body">
                                    <div class="desc-blocks" style="word-break: break-word">
                                        <div class="desc-block">
                                            <dl>
                                                <dt><a class="__toggle" >매장 위치</a></dt>
                                                <dd class="color-gray" th:text="${restaurantInfo.location}">
                                                    --
                                                </dd>
                                            </dl>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="drawer-box-footer" style="bottom: 0; left: 0; right: 0; z-index: 99; background-color: rgb(255, 255, 255)">
                        <button class="btn btn-lg btn-red" id="mylocationBtn" style="border-radius: 6px">확인</button>
                    </div>
                </div>

            </div>
            <div tabindex="0" id="end2" data-test="sentinelEnd"></div>


        </div>

        <!--모달/전화-->
        <div role="presentation" id="myPhone" class="MuiDrawer-root MuiDrawer-modal jss1" style="position: fixed; z-index: 100000; inset: 0px; ">
            <div class="MuiBackdrop-root" aria-hidden="true" style="opacity: 1; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms"></div>
            <div tabindex="0" data-test="sentinelStart"></div>
            <div
                    class="MuiPaper-root MuiDrawer-paper MuiDrawer-paperAnchorBottom MuiPaper-elevation0"
                    tabindex="-1"
                    style="transform: none; transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms"
            >
                <div class="drawer-box" style="position: sticky; background-color: rgb(255, 255, 255); top: 0; left: 0; right: 0; z-index: 99">
                    <div
                            class="drawer-box-header"
                            style="
                            border-radius: 20px 20px 0 0;
                            border-bottom: none;
                            justify-content: center;
                            position: sticky;
                            background-color: rgb(255, 255, 255);
                            top: 0;
                            left: 0;
                            right: 0;
                            z-index: 99;
                        "
                    >
                        <h2 class="drawer-box-title" th:text="${restaurantInfo.restaurant_name}">숙성도 중문점</h2>
                    </div>
                    <div class="drawer-box-body" style="padding: 0; overflow-y: auto; position: static; max-height: 70vh">
                        <section class="section pt-30">
                            <div class="container gutter-sm">
                                <div class="section-body">
                                    <div class="desc-blocks" style="word-break: break-word">
                                        <div class="desc-block">
                                            <dl>
                                                <dt><a class="__toggle" >매장 전화</a></dt>
                                                <dd><a class="call" th:text="${restaurantInfo.phone}">064-739-5213</a></dd>
                                            </dl>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="drawer-box-footer" style="bottom: 0; left: 0; right: 0; z-index: 99; background-color: rgb(255, 255, 255)">
                        <button class="btn btn-lg btn-red" id="myPhoneBtn" style="border-radius: 6px">확인</button>
                    </div>
                </div>

            </div>
            <div tabindex="0" id="end3" data-test="sentinelEnd"></div>


        </div>


        <!--예약 폼-->
        <div role="presentation" id="resModal">
            <div class="wrapper">
                <main class="pb-100">
                    <div id="bottom-drawer-header">
                        <div class="container">
                            <div class="bottom-drawer-header-right">
                                <a href="#" class="btn-close"></a>
                            </div>
                        </div>
                    </div>
                    <section class="section section-overflow-hidden">
                        <div class="container gutter-sm">
                            <div class="calendarBox">
                                <table class="scriptCalendar">
                                    <thead>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="calendarBtn" id="btnPrevCalendar">
                                                <img src="../../resources/images/left.svg" th:src="@{/images/left.svg}" height="14px" />
                                            </div>
                                        </td>
                                        <td colspan="3"><span id="calYear">YYYY</span>년 <span id="calMonth">MM</span>월</td>
                                        <td>
                                            <div class="calendarBtn" id="nextNextCalendar">
                                                <img src="../../resources/images/right.svg" th:src="@{/images/right.svg}" height="14px" />
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>일</td>
                                        <td>월</td>
                                        <td>화</td>
                                        <td>수</td>
                                        <td>목</td>
                                        <td>금</td>
                                        <td>토</td>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <h3 class="font-16 ebold mb-15">인원</h3>
                            <div class="option-personnel mb-24 ml--20 mr--20 pl-20 pr-20">
                                <div
                                        class="swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-free-mode"
                                        style="overflow: visible"
                                >
                                    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px)">
                                        <div th:each="count : ${#numbers.sequence(1, 30)}" class="swiper-slide" style="width: auto; margin-right: 6px">
                                            <label>
                                                <input type="radio" name="count" th:value="${count}" />
                                                <span th:text="${count + '명'}"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="font-16 ebold mb-15">시간</h3>
                            <div
                                    class="swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-ios timeslot-swiper option-timetable"
                            >
                                <div class="swiper-wrapper">
                                    <div th:each="timeOption : ${timeOptions}" class="swiper-slide" style="width: unset; margin-right: 6px">
                                        <label>
                                            <input type="radio" name="time" th:value="${#strings.replace(timeOption.time, ':', '')}" />
                                            <span th:text="${timeOption.time}"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <div class="sticky-bottom-btns">
                    <button class="btn btn-lg btn-red">
                        <span class="ebold">확인</span>
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
