<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">
        <link rel="stylesheet" th:href="@{/css/review.css}" />
        <title>페이지 제목</title>
    </head>
    <body class="disable-user-select">
        <div id="root">
            <div class="wrapper" id="wrapperDiv">
                <header id="header" class="opaque">
                    <div class="container">
                        <div class="header-left">
                            <a href="restaurantInfo.html" class="btn-back">뒤로</a>
                            <h1 class="page-title" style="padding-right: 4px;">숙성도 중문점</h1>
                        </div>
                    </div>
                </header>
                <main id="main">
                    <div class="tab-menu sticky" style="top: 48px;">
                        <ul>
                            <li class=""><a th:href="@{|/restaurant/detail/${restaurant_seq}|}"><span>홈</span></a></li>
                            <li class=""><a th:href="@{|/restaurant/detail/${restaurant_seq}/menuList|}"><span>메뉴</span></a></li>
                            <li class=""><a th:href="@{|/restaurant/detail/${restaurant_seq}/photo|}"><span>사진</span><span style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;"></span></a></li>
                            <li class="active"><a><span>리뷰</span><span style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;"></span></a></li>
                        </ul> 
                    </div>
                </main>
                    </body>
</html>