<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <typeAliases>
                <typeAlias type="java.lang.Long" alias="Long"/>

                <typeAlias type="com.eathub.dto.LoginDTO" alias="loginDTO"/>
                <typeAlias type="com.eathub.entity.Members" alias="members"/>
                <typeAlias type="com.eathub.entity.RestaurantInfo" alias="restaurantInfo"/>
                <typeAlias type="com.eathub.entity.RestaurantZzim" alias="restaurantZzim"/>

                <typeAlias type="com.eathub.dto.MyPageDTO" alias="myPageDTO"/>

                <typeAlias type="com.eathub.dto.CategoryDTO" alias="categoryDTO"/>
                <typeAlias type="com.eathub.dto.RestaurantJoinDTO" alias="restaurantJoinDTO"/>
                <typeAlias type="com.eathub.dto.ReservationDTO" alias="reservationDTO"/>
        </typeAliases>
</configuration>