<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>타입선택</title>
    <link th:replace="~{template/common-js :: common-links}"/>
    <link rel="stylesheet" href="./login.css" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="../../resources/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="../../resources/css/common.css" th:href="@{/css/common.css}">
</head>
<body>
    

    <main>
        <div class="signselect-wrapper">
            <div class="inner">
                <div class="logo">Logo</div>
                <div class="selectDiv">
                    <div class="customer-select">
                        <a href="./login.html" th:href="@{/members/join/customer}"><div></div></a>
                        <p><a href="./login.html" th:href="@{/members/join/customer}">고객 회원가입</a></p>
                    </div>
                    <div class="owner-select">
                        <a href="./login.html" th:href="@{/members/join/owner}"> <div></div></a>
                        <p><a href="./login.html" th:href="@{/members/join/owner}">점주 회원가입</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <!-- footer -->
    <div th:replace="~{template/footer :: footerFragment}"></div>

</body>
</html>