<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eatHub 로그인</title>
    <link th:replace="~{template/common-js :: common-links}"/>
    <link rel="stylesheet" href="./login.css" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="../../resources/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="../../resources/css/common.css" th:href="@{/css/common.css}">
    <script defer src="../../resources/js/loginForm.js" th:src="@{/js/loginForm.js}"></script>
</head>
<body>
    <main>
        <div class="signin-wrapper">
            <div class="inner">
                <form id="loginForm" action th:action th:object="${loginDTO}" method="post">
                    <div class="logo">Logo</div>

                    <div class="input-control mb-30">
                        <input type="text" class="form-input form-input-underline" th:autocomplete="member_id" placeholder="아이디" th:field="${loginDTO.member_id}">
                        <span class="error-message" th:errors="${loginDTO.member_id}"></span>
                    </div>

                    <div class="input-control mb-30">
                        <input type="password" class="form-input form-input-underline" th:autocomplete="current-password" placeholder="비밀번호" th:field="${loginDTO.member_pwd}">
                        <span class="error-message" th:errors="${loginDTO.member_pwd}"></span>
                    </div>

                    <div class="create-starter-box">
                        <a href="joinSelect.html" th:href="@{/members/join/select}">회원가입</a>
                        <i>|</i>
                        <a>비밀번호 찾기</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="sticky-bottom-btn">
            <button id="submitButton" type="submit" class="btn" >로그인</button>
        </div>
    </main>

    <!-- footer -->
    <div th:replace="~{template/footer :: footerFragment}"></div>

</body>
</html>