<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:replace="~{template/common-js :: common-links}"/>
    <link rel="stylesheet" href="../../resources/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="../../resources/css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="../../resources/css/myDining.css" th:href="@{/css/myDining.css}">

<!--    <script defer src="../../resources/js/myPage.js" th:src="@{/js/myPage.js}"></script>-->
</head>
<body>
    <div class="wrapper">
      <header id="header" class="opaqpue">
         <div class="container">
                <div class="header-left">
                    <h1 class="page-title">마이다이닝</h1>
                </div>
            </div>
      </header>
      <main id="main">
         <div class="tab-menu sticky">
                <ul>
                    <li class="active">
                        <a href="javascript:void(0)">
                            <span>
                                나의 예약
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>
                                나의 알림
                            </span>
                        </a>
                    </li>
                </ul>
         </div>
         <section class="section mb-30">
            <div class="container gutter-sm">
              <div class="tag-radio-group mt-18">
                <label class="_1ximz4q2">
                  <input type="radio" name="type" value="planned" checked>
                  <span class="label" id="reserved-tab">방문예정</span>
                </label>
                <label class="">
                  <input type="radio" name="type" value="done">
                  <span class="label" id="complete-tab">방문완료</span>
                </label>
                <label class="">
                  <input type="radio" name="type" value="cancel">
                  <span class="label">취소/노쇼</span>
                </label>
              </div>
            </div>
            <div class="container gutter-sm">
                <div class="section-body">
                  <div class="my-dining-list">

                    <!-- 예약한 레스토랑이 없을때 들어가는 부분 -->
                    <div th:if="${#lists.size(reservationDTOList)==0}">
                        <p class="txt-center plain-txt font-16 bold color-gray3 mt-70 mb-20">
                          방문예정이 없습니다.
                          <br>
                          캐치테이블을 통해 편리하게 예약해 보세요!
                        </p>
                        <div class="centered-btn">
                            <a href="" class="btn-blue">
                        <span class="label">
                          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.56604 2.0625C5.28489 2.0625 2.625 4.72239 2.625 8.00354C2.625 11.2847 5.28489 13.9446 8.56604 13.9446C10.0188 13.9446 11.3498 13.4231 12.382 12.5572L14.4359 14.4396C14.7413 14.7195 15.2157 14.6988 15.4956 14.3935C15.7755 14.0881 15.7548 13.6137 15.4494 13.3338L13.4012 11.4565C14.0974 10.4834 14.5071 9.29132 14.5071 8.00354C14.5071 4.72239 11.8472 2.0625 8.56604 2.0625ZM4.125 8.00354C4.125 5.55082 6.11332 3.5625 8.56604 3.5625C11.0188 3.5625 13.0071 5.55082 13.0071 8.00354C13.0071 10.4563 11.0188 12.4446 8.56604 12.4446C6.11332 12.4446 4.125 10.4563 4.125 8.00354Z" fill="#0091FF"></path></svg>
                          레스토랑 둘러보기
                        </span>
                            </a>
                        </div>
                    </div>

                     <!-- 예약한 레스토랑있을때 리스트 들어가는 부분 -->
                   <div class="section-body pb-32" style="padding-top: 10px;">
                      <div id="common_infinity_sc" class="booked-restaurant-list">
                          <div id="common_infinity_sc_0" data-dummy="189">
                              <div class="booked-restaurant-list-item" th:each="reservation : ${reservationDTOList}">
                                  <div class="booked-info">
                                      <span class="booked-Dday" th:text="${reservation.dDay == 0 ? 'D-DAY' : 'D' + (reservation.dDay > 0 ? '-' : '+') + reservation.absDday}">D-day</span>
                                      <span class="booked-status" th:text="${reservation.res_status.name() == 'STANDBY' ? '예약 확인중' :
                                        reservation.res_status.name() == 'ACCESS' ? '예약 완료' :
                                        reservation.res_status.name() == 'OK' ? '방문 완료' : null}">예약확인중
                                      </span>
                                      <span class="label" th:if="${reservation.res_status.name() == 'OK'}">리뷰작성</span>
                                  </div>
                                  <div class="restaurant-info">
                                      <a href="javascript:void(0)" class="tb">
                                          <img class="img" th:src="@{/images/mongtanjeju.jpg}"/>
                                      </a>
                                      <a href="javascript:void(0)" class="detail">
                                          <h4 class="name" th:text="${reservation.restaurant_name}">산청숯불가든 마곡</h4>
                                          <div class="restaurant-meta">
                                              <span class="tags" th:text="${reservation.tag}">돼지고기구이 • 마곡</span>
                                          </div>
                                          <div class="booked-date-info">
                                              <span th:text="${reservation.dateFormat}">오후 1:30</span> •
                                              <span th:text="${#dates.format(reservation.res_date, 'a h:mm')}">오후 1:30</span> •
                                              <span th:text="${reservation.res_people} + '명'">2명</span>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
                 
                </div>
            </div>
         </section>
      </main>
    </div>

    <!-- footer -->
    <div th:replace="~{template/footer :: footerFragment}"></div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(function (){

            // 예약상태에 따라 예약상태 뱃지 구분
            $('.booked-status').each(function() {
                if ($(this).text() == "예약 완료") {
                    $(this).addClass('reserved');
                } else if($(this).text() == "방문 완료"){
                    $(this).addClass('complete');
                    $(this).closest('.booked-restaurant-list-item').addClass('hide')
                }
            });

            // 방문완료 탭 누를때 방문완료인 예약들만 보기
            $('#complete-tab').on('click', function () {

                $('.booked-status').each(function() {
                    if ($(this).text() == "예약 완료" || $(this).text() == "예약 확인중") {
                        $(this).closest('.booked-restaurant-list-item').addClass('hide')
                    } else if($(this).text() == "방문 완료"){
                        $(this).closest('.booked-restaurant-list-item').removeClass('hide')
                    }
                });
            });

            // 방문예정 탭 누를때 방문예정인 예약들만 보기
            $('#reserved-tab').on('click', function () {

                $('.booked-status').each(function() {
                    if ($(this).text() == "예약 완료" || $(this).text() == "예약 확인중") {
                        $(this).closest('.booked-restaurant-list-item').removeClass('hide')
                    } else if($(this).text() == "방문 완료"){
                        $(this).closest('.booked-restaurant-list-item').addClass('hide')
                    }
                });
            });

            // D-DAY일 경우 예약카드 스타일 변경
            $('.booked-Dday').each(function (){
                if($(this).text() == 'D-DAY'){
                    $(this).closest('.booked-restaurant-list-item').addClass('D-DAY')
                }
            })

        });
    </script>
</body>
</html>