<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:replace="~{template/common-js :: common-links}"/>
    <link rel="stylesheet" href="../../resources/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="../../resources/css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="../../resources/css/memberMypage.css" th:href="@{/css/memberMypage.css}">
    <script defer src="../../resources/js/myPage.js" th:src="@{/js/myPage.js}"></script>
    <script defer src="../../resources/js/zzim.js" th:src="@{/js/zzim.js}"></script>

</head>
<body>
    <div class="wrapper">
        <header id="header" class="opaque">
            <div class="container">
                <div class="header-left">
                    <h1 class="page-title">마이페이지</h1>
                </div>
                <div class="header-right">
                    <button class="qww8ue0"></button>
                </div>
            </div>
        </header>
        <main id="main">
            <section class="section pt-24">
                <div class="container gutter-sm">
                    <div class="mypage-profile">
                        <div class="profile-pic">
                            <div class="img"></div>
                        </div>
                        <div class="mypage-profile-meta">
                            <h4 class="name username">이름</h4>
                            <div class="meta">
                                <dl>
                                    <dt>팔로잉</dt>
                                    <dt>0</dt>
                                </dl>
                                <span>|</span>
                                <dl>
                                    <dt>팔로워</dt>
                                    <dt>0</dt>
                                </dl>
                            </div>
                            <div class="social"></div>
                        </div>
                    </div>
                    <div class="mypage-profile--desc" style="display: block;">
                        <button class="btn btn-md btn-outline btn-rounded full-width mt-18">
                            <a th:href="@{update}" class="label">내 정보수정</a>
                        </button>
                    </div>
                </div>
            </section>
            <section class="section section-overflow-hidden">
                <div class="profile-summary"></div>
            </section>
            <div class="tab-menu mb-10 sticky mt-18">
                <ul>
                    <li class="active">
                        <a href="javascript:void(0)">
                            <span>
                                나의 저장
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>
                                리뷰
                                <small class="count">0</small>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="collection">
                <!-- <section class="section pt-20 section-overflow-hidden"></section> -->
                <section class="section pt-24 section-overflow-hidden">
                    <div class="container gutter-sm">
                        <!-- 저장한 레스토랑이 있을 때 들어가는 부분 -->
                        <div class="__d-flex"> <!-- 저장한 레스토랑 생기면 d-flex추가-->
                            <div class="section-header --d-flex __v-center" style="justify-content: space-between; width: 100%;">
                                <h3 class="section-title font-16">
                                    저장한 레스토랑
                                    <span class="count" th:text="${#lists.size(myPageDTO)}">0</span>
                                </h3>
                                <div class="__d-flex __v-center font-13"> <!-- 저장한 레스토랑 생기면 들어가는 부분 -->
                                    전체보기
                                    <img src="../../resources/images/arrow-right-20.svg" th:src="@{/images/arrow-right-20.svg}" alt="오른쪽화살표" style="margin-left: 4px; width: 16px; height: 16px;">
                                </div>
                            </div>
                        </div>
                        <div class="section-body pb-32" style="padding-top: 10px;">
                            <div id="common_infinity_sc" class="saved-restaurant-list">
                                <div id="common_infinity_sc_0" data-dummy="189">
                                    <div class="saved-restaurant-list-item" th:each="restaurant : ${myPageDTO}">
                                        <div class="restaurant-info">
                                            <a href="javascript:void(0)" class="tb">
                                                <img class="img" th:src="@{/images/mongtanjeju.jpg}"  alt="page"/>
                                            </a>
                                            <a href="javascript:void(0)" class="detail">
                                                <h4 class="name" th:text="${restaurant.restaurant_name}">산청숯불가든 마곡</h4>
                                                <p class="excerpt" th:text="${restaurant.description}">
                                                    여기에 레스토랑 설명이 들어감
                                                </p>
                                                <div class="restaurant-meta">
                                                    <div class="rating" style="margin-bottom: 5px;">
                                                        <span class="star" th:text="${restaurant.rating}">(평점)</span>
                                                        <span class="count" th:text="'(' + ${restaurant.review_total} + ')'">(리뷰수)</span>
                                                    </div>
                                                    <span class="tags" th:text="${restaurant.tag}">돼지고기구이 • 마곡</span>
                                                    <span class="price" th:text="|영업시간 ${#dates.format(restaurant.openHour,'HH:mm')}~${#dates.format(restaurant.closeHour,'HH:mm')}|">점심 저녁 동일가 1 - 4만원</span>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)" class="btn-bookmark active" th:data-restaurant-seq="${restaurant.restaurant_seq}">북마크</a>
                                        </div>
                                        <div>
                                            <div class="restaurant-meta mt-16"></div>
                                            <div class="form-control">
                                                <input type="text" class="form-input" placeholder="나만의 메모를 남겨보세요." th:data-zzim-seq="${restaurant.zzim_seq}" th:value="${restaurant.comment}">
                                            </div>
                                        </div>
                                        <div style="height: 0px;">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 저장한 레스토랑이 없을 때 들어가는 부분 -->
                        <div th:if="${#lists.size(myPageDTO)==0}" class="scrap-wrap">
                            <div class="nodata font-14 mb-24">
                                저장한 레스토랑이 없습니다.
                                <br>
                                <b>요즘 많이 저장하는 레스토랑을 확인해보세요</b>
                            </div>
                            <div class="v-scroll">
                                <div class="v-scroll-inner">
                                    <div class="restaurant-list restaurant-list-sm">
                                        <div class="restaurant-list-item">
                                            <div class="tb">
                                                <img src="../../resources/images/mongtanjeju.jpg" th:src="@{/images/mongtanjeju.jpg}" class="img" alt="햄버거">
                                                <a href="javascript:void(0)" class="btn-bookmark">북마크</a>
                                            </div>
                                            <div class="detail">
                                                <a>
                                                    <h3 class="name">하이디라오 코엑스점</h3>
                                                    <div class="meta">
                                                        <span class="tags">중식 • 삼성</span>
                                                        <span class="score">
                                                            4.5
                                                            <span class="count">(166)</span>
                                                        </span>
                                                        
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="restaurant-list-item">
                                            <div class="tb">
                                                <img src="../../resources/images/mongtanjeju.jpg" th:src="@{/images/mongtanjeju.jpg}" class="img" alt="햄버거">
                                                <a href="javascript:void(0)" class="btn-bookmark">북마크</a>
                                            </div>
                                            <div class="detail">
                                                <a>
                                                    <h3 class="name">하이디라오 코엑스점</h3>
                                                    <div class="meta">
                                                        <span class="tags">중식 • 삼성</span>
                                                        <span class="score">
                                                            4.5
                                                            <span class="count">(166)</span>
                                                        </span>
                                                        
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="restaurant-list-item">
                                            <div class="tb">
                                                <img src="../../resources/images/mongtanjeju.jpg" th:src="@{/images/mongtanjeju.jpg}" class="img" alt="햄버거">
                                                <a href="javascript:void(0)" class="btn-bookmark">북마크</a>
                                            </div>
                                            <div class="detail">
                                                <a>
                                                    <h3 class="name">하이디라오 코엑스점</h3>
                                                    <div class="meta">
                                                        <span class="tags">중식 • 삼성</span>
                                                        <span class="score">
                                                            4.5
                                                            <span class="count">(166)</span>
                                                        </span>
                                                        
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="restaurant-list-item">
                                            <div class="tb">
                                                <img src="../../resources/images/mongtanjeju.jpg" th:src="@{/images/mongtanjeju.jpg}" class="img" alt="햄버거">
                                                <a href="javascript:void(0)" class="btn-bookmark">북마크</a>
                                            </div>
                                            <div class="detail">
                                                <a>
                                                    <h3 class="name">하이디라오 코엑스점</h3>
                                                    <div class="meta">
                                                        <span class="tags">중식 • 삼성</span>
                                                        <span class="score">
                                                            4.5
                                                            <span class="count">(166)</span>
                                                        </span>
                                                        
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
        </main>
    </div>


    <!-- footer -->
    <div th:replace="~{template/footer :: footerFragment}"></div>

</body>
</html>