<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:replace="~{template/common-js :: common-links}"/>
    <link rel="stylesheet" href="../../resources/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="../../resources/css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="../../resources/css/ownerMypage.css" th:href="@{/css/ownerMypage.css}">
    <link rel="stylesheet" href="../../resources/css/restaurantinfo.css" th:href="@{/css/restaurantinfo.css}">
    <script defer src="../../resources/js/myPage.js" th:src="@{/js/myPage.js}"></script>

    <!-- 임시 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>
<body>
<div class="wrapper">
    <header id="header" class="opaque">
        <div class="container">
            <div class="header-left">
                <h1 class="page-title">마이페이지</h1>
            </div>
            <div class="header-right">
                <button class="qww8ue0"></button>
            </div>
        </div>
    </header>
    <main id="main">
        <section class="section pt-24">
            <div class="container gutter-sm">
                <div class="mypage-profile">
                    <div class="profile-pic">
                        <div class="img"></div>
                    </div>
                    <div class="mypage-profile-meta">
                        <h4 class="name username">이름</h4>
                        <div class="meta">
                            <dl>
                                <dt>팔로잉</dt>
                                <dt>0</dt>
                            </dl>
                            <span>|</span>
                            <dl>
                                <dt>팔로워</dt>
                                <dt>0</dt>
                            </dl>
                        </div>
                        <div class="social"></div>
                    </div>
                </div>
                <div class="mypage-profile--desc" style="display: block;">
                    <button class="btn btn-md btn-outline btn-rounded full-width mt-18">
                        <a th:href="@{update}" class="label">내 정보수정</a>
                    </button>
                    <button class="my-restaurant btn btn-md btn-outline btn-rounded full-width mt-18">
                        <a href="javascript:void(0)" class="label">
                            내 가게목록
                            <span>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="https://www.w3.org/2000.svg">
                                    <path d="M4.94 6L8 9.05333L11.06 6L12 6.94L8 10.94L4 6.94L4.94 6Z" fill="black"></path>
                                </svg>
                            </span>
                        </a>
                    </button>
                </div>
            </div>
        </section>
        <section class="section section-overflow-hidden">
            <div class="profile-summary"></div>
        </section>
        <div class="tab-menu mb-10 sticky mt-18">
            <ul>
                <li class="active">
                    <a href="javascript:void(0)">
                        <span>
                            가게 정보
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>
                            예약확인
                        </span>
                    </a>
                </li>
                <!-- <li>
                    <a href="javascript:void(0)">
                        <span>
                            매출동향
                        </span>
                    </a>
                </li> -->
            </ul>
        </div>
        <div id="collection">
            <!-- <section class="section pt-20 section-overflow-hidden"></section> -->
            <section class="section pt-24 section-overflow-hidden">
                <div class="container gutter-sm">
                    
                </div>
            </section>
        </div>

    </main>
</div>
<div role="presentation" id="myModal" class="MuiDrawer-root MuiDrawer-modal jss1"
     style="position: fixed; z-index: 100000; inset: 0px;">
    <div class="MuiBackdrop-root" aria-hidden="true"
         style="opacity: 1; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;"></div>
    <div tabindex="0" data-test="sentinelStart"></div>
    <div class="MuiPaper-root MuiDrawer-paper MuiDrawer-paperAnchorBottom MuiPaper-elevation0" tabindex="-1"
         style="transform: none; transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;">
        <div class="drawer-box"
             style="position: sticky; background-color: rgb(255, 255, 255); top: 0px; left: 0px; right: 0px; z-index: 99;">
            <div class="drawer-box-header"
                 style="border-radius: 20px 20px 0px 0px; border-bottom: none; justify-content: center; position: sticky; background-color: rgb(255, 255, 255); top: 0px; left: 0px; right: 0px; z-index: 99;">
                <h2 class="drawer-box-title">숙성도 중문점</h2>
            </div>
            <div class="drawer-box-body" style="padding: 0px; overflow-y: auto; position: static; max-height: 70vh;">
                <section class="section pt-30 pb-25">

                </section>
                <section class="section pt-30">
                    <div class="container gutter-sm">
                        <div class="section-body">
                            <div class="desc-blocks" style="word-break: break-word;">
                                <div class="desc-block">
                                    <dl>
                                        <dt><a class="__toggle">전화번호</a></dt>
                                        <dd><a class="call">064-739-5213</a></dd>
                                    </dl>
                                </div>
                                <div class="desc-block">
                                    <dl>
                                        <dt><a class="__toggle">매장 소개</a></dt>
                                        <dd class="color-gray">
                                            제주가 낳고, 기른<br>
                                            100% 제주 흑돼지만을 사용하며<br>
                                            깐깐한 원육선별과 섬세한 교차숙성 기술로<br>
                                            숙성고기의 정점이 무엇인지 보여드리겠습니다.<br>
                                            프리미엄 숙성육 퀄리티 하우스<br>
                                            제주 숙성도 중문점을 찾아주세요!
                                        </dd>
                                    </dl>
                                </div>
                                <div class="desc-block">
                                    <dl>
                                        <dt><a class="__toggle">영업시간</a></dt>
                                        <dd class="color-gray">
                                            12시 오픈일 때 (스타트 최대 24팀까지 입장 가능)<br><br>
                                            11:00 부터 현장대기등록 시작<br><br>
                                            12시 오픈과 동시에 원격줄서기 시작합니다.<br><br>
                                            마지막 입장시간 21:00까지 입니다.<br><br>
                                            대기가 길어서 부득이하게 식사시간을 2시간으로 제한 됩니다.<br><br>
                                            라스트 오더 21:15<br><br>
                                            퇴장시간 21:50
                                        </dd>
                                    </dl>
                                </div>
                                <div class="desc-block">
                                    <dl>
                                        <dt><a class="__toggle">안내 및 유의사항</a></dt>
                                        <dd class="color-gray">
                                            *단체안내<br>
                                            숙성도를 방문해주셔서 감사합니다.<br>
                                            6인이상 방문객분들은 매장이 협소하고<br>
                                            테이블 수가 적은 관계로 안내 받으실때 <br>
                                            연결되지 않은 테이블로 배정 받아 따로 않으실 확률이 높습니다.<br>
                                            대기등록 전에 참고해주시면 감사하겠습니다.
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="drawer-box-footer"
                 style="bottom: 0px; left: 0px; right: 0px; z-index: 99; background-color: rgb(255, 255, 255);">
                <button class="btn btn-lg btn-red" id="myBtn" style="border-radius: 6px;">확인</button>
            </div>
        </div>
    </div>
    <div tabindex="0" data-test="sentinelEnd"></div>
</div>

<!-- footer -->
<div th:replace="~{template/footer :: footerFragment}"></div>

</body>
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");

    $('#myBtn').click(function () {
        modal.style.display = "none";
    });

    $('.my-restaurant').click(function () {
        modal.style.display = "flex";
    });
</script>
</html>