<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>즐거운 미식 생활의 시작, 잇허브</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:replace="~{template/common-js :: common-links}" />
        <link rel="stylesheet" href="../../resources/css/search-common.css" th:href="@{/css/search-common.css}" />
        <link rel="stylesheet" href="../../resources/css/footer.css" th:href="@{/css/footer.css}" />

        <!-- <link rel="stylesheet" href="../../resources/css/memberMypage.css" th:href="@{/css/memberMypage.css}"> -->
        <link rel="stylesheet" href="../../resources/css/search-main.css" th:href="@{/css/search-main.css}" />
        <link rel="stylesheet" href="../../resources/css/search-modal.css" th:href="@{/css/search-modal.css}" />

        <!--jQuery-->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <!-- Swiper JS -->
        <script defer src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <script defer src="../../resources/js/zzim.js" th:src="@{/js/zzim.js}"></script>
        <script defer type="text/javascript" src="../../resources/js/search-main.js" th:src="@{/js/search-main.js}"></script>
        <script defer type="text/javascript" src="../../resources/js/search-modal.js" th:src="@{/js/search-modal.js}"></script>
    </head>
    <body class="disable-user-select">
        <div id="root">
            <div class="wrapper">
                <header id="header" style="background: none">
                    <div class="container" style="position: relative">
                        <div class="header-left">
                            <button class="btn-back">이전</button>
                            <h1 class="page-title">검색결과&emsp;</h1>
                        </div>
                    </div>
                </header>
                <main id="main" style="padding-bottom: 0px">
                    <div class="search-header __autohide" style="top: 48px">
                        <div class="datetime-selector">
                            <a>
                                <span class="date"></span>
                                <span class="hour"></span>
                                <span class="person"></span>
                                <input class="date" type="hidden" name="date" th:value="${session.wantingDate}"/>
                                <input class="hour" type="hidden" name="hour" th:value="${session.wantingHour}"/>
                                <input class="person" type="hidden" name="person"  th:value="${session.wantingPerson}"/>
                            </a>
                        </div>
                        <div style="background: rgb(255, 255, 255)">
                            <div class="speb4g0">
                                <div class="speb4g1">
                                    <button class="design_system_pzih8v0" type="button">
                                        <img src="../../resources/images/map.svg" th:src="@{/images/map.svg}" />
                                    </button>
                                    <button class="design_system_gjbv2i0 design_system_gjbv2i1" type="button">
                                        <img src="../../resources/images/specific.svg" th:src="@{/images/specific.svg}" />
                                        <span class="design_system_gjbv2i2 design_system_gjbv2i3">1</span>
                                    </button>
                                </div>
                                <span class="speb4g2"></span>
                                <div class="speb4g3">
                                    <div
                                        class="swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-ios swiper-container-backface-hidden"
                                        id="filterBar"
                                    >
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <button type="button" class="speb4g4 speb4g5">
                                                    <span>서울 전체</span>
                                                </button>
                                            </div>
                                            <div class="swiper-slide swiper-slide-next">
                                                <button type="button" class="speb4g4">
                                                    <span>음식 종류</span>
                                                </button>
                                            </div>
                                            <div class="swiper-slide">
                                                <button type="button" class="speb4g4">
                                                    <span>가격</span>
                                                </button>
                                            </div>
                                            <div class="swiper-slide">
                                                <button type="button" class="speb4g4">
                                                    <span>테이블타입</span>
                                                </button>
                                            </div>
                                            <div class="swiper-slide">
                                                <button type="button" class="speb4g4">
                                                    <span>분위기</span>
                                                </button>
                                            </div>
                                            <div class="swiper-slide">
                                                <button type="button" class="speb4g4">
                                                    <span>편의시설</span>
                                                </button>
                                            </div>
                                            <div class="swiper-slide">
                                                <button type="button" class="speb4g4">
                                                    <span>내주변</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="separator" />
                    <div id="search-result-header" class="_54rkq60">
                        <div class="_54rkq62"><strong th:text="${#lists.size(restaurantList)}">0</strong>개의 매장</div>
                        <div class="_10fm75h2">
                            <button class="_54rkq61">
                                <img
                                    src="../../resources/images/icon_sort_20221020.svg"
                                    th:src="@{/images/icon_sort_20221020.svg}"
                                    alt=""
                                    style="background: center center no-repeat transparent"
                                />
                                <span class="__label">추천순</span>
                                <img
                                        src="../../resources/images/arrow-down.svg"
                                        th:src="@{/images/arrow-down.svg}"
                                        alt=""
                                        style="background: center center no-repeat transparent"
                                        width="16" height="16"
                                />
                            </button>
                            <div class="_1cjtq760 _1ltqxco1o _54rkq63">
                                <label class="nakw3z1">
                                    <input type="radio" name="sort_by" class="nakw3z2" checked="" />
                                    <span class="nakw3z3">추천순</span>
                                </label>
                                <label class="nakw3z1">
                                    <input type="radio" name="sort_by" class="nakw3z2" />
                                    <span class="nakw3z3">별점순</span>
                                </label>
                                <label class="nakw3z1">
                                    <input type="radio" name="sort_by" class="nakw3z2" />
                                    <span class="nakw3z3">리뷰 많은순</span>
                                </label>
                                <label class="nakw3z1">
                                    <input type="radio" name="sort_by" class="nakw3z2" />
                                    <span class="nakw3z3">가격 높은순</span>
                                </label>
                                <label class="nakw3z1">
                                    <input type="radio" name="sort_by" class="nakw3z2" />
                                    <span class="nakw3z3">가격 낮은순</span>
                                </label>
                                <label class="nakw3z1">
                                    <input type="radio" name="sort_by" class="nakw3z2" />
                                    <span class="nakw3z3">거리순</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <section class="section">
                        <div class="container gutter-sm">
                            <div class="saved-restaurant-list">
                                <div style="padding-bottom: 10px">
                                    <div id="pickup_search_list">
                                        <div data-dummy="" th:each="restaurant : ${restaurantList}">
                                            <div class="saved-restaurant-list-item">
                                                <div class="restaurant-info">
                                                    <div class="tb">
                                                        <a th:href="@{|/restaurant/detail/${restaurant.restaurant_seq}|}">
                                                            <img
                                                                class="img"
                                                                src="../../resources/images/mongtanjeju.jpg"
                                                                th:src="@{/images/mongtanjeju.jpg}"/>
                                                        </a>
                                                    </div>
                                                    <div class="detail">
                                                        <div class="detail-header">
                                                            <div class="txt">
                                                                <a th:href="@{|/restaurant/detail/${restaurant.restaurant_seq}|}">
                                                                    <h4 class="name" th:text="${restaurant.restaurant_name}">MAISON HANNAM</h4>
                                                                    <p class="excerpt" th:text="${restaurant.description}">
                                                                        유엔빌리지 대저택, 이태리 대사관저를 리모델링한 <br />한강뷰 멋진 온실 테라스
                                                                        레스토랑
                                                                    </p>
                                                                </a>
                                                            </div>
                                                            <a
                                                                class="btn-bookmark"
                                                                th:classappend="${restaurant.isZzimed} ? 'active' : ''"
                                                                th:text="${restaurant.isZzimed}"
                                                                th:data-restaurant-seq="${restaurant.restaurant_seq}"
                                                                >북마크</a
                                                            >
                                                        </div>
                                                        <a th:href="@{|/restaurant/detail/${restaurant.restaurant_seq}|}">
                                                            <div class="restaurant-meta">
                                                                <div class="_1xnbt310 _1xnbt311">
                                                                    <div class="_1xnbt313">
                                                                        <img
                                                                            class="_1xnbt314"
                                                                            width="16"
                                                                            height="16"
                                                                            src="../../resources/images/star-yellow.svg"
                                                                            th:src="@{/images/star-yellow.svg}"
                                                                        />
                                                                        <span class="_1xnbt316 _1ltqxco1d" th:text="${restaurant.rating}">4.3</span>
                                                                        <span class="_1xnbt317 _1ltqxco1g" th:text="${restaurant.review_total}"
                                                                            >(1,469)</span
                                                                        >
                                                                    </div>
                                                                </div>
                                                                <div class="tag-wrapper">
                                                                    <div>
                                                                        <span class="tags" th:text="${restaurant.tag}">태그내용</span>
                                                                        <span
                                                                            class="price"
                                                                            th:text="|영업시간 ${#dates.format(restaurant.openHour,'HH:mm')}~${#dates.format(restaurant.closeHour,'HH:mm')}|"
                                                                            >영업시간</span
                                                                        >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <div class="timetable-list timetable-list-sm">
                                                            <button class="timetable-list-item">
                                                                <span class="time">오후6:30</span>
                                                            </button>
                                                            <button class="timetable-list-item disabled" disabled="">
                                                                <span class="time">&nbsp;</span>
                                                            </button>
                                                            <button class="timetable-list-item">
                                                                <span class="time">오후7:30</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="padding-bottom: 50px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <div role="presentation" id="resModal">
            <div>
                <div class="wrapper">
                    <main class="pb-100">
                        <div id="bottom-drawer-header">
                            <div class="container">
                                <div class="bottom-drawer-header-right">
                                    <a href="#" class="btn-close"></a>
                                </div>
                            </div>
                        </div>
                        <section class="section section-overflow-hidden">
                            <div class="container gutter-sm">
                                <div class="calendarBox">
                                    <table class="scriptCalendar">
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <div class="calendarBtn" id="btnPrevCalendar">
                                                        <img src="../../resources/images/left.svg" th:src="@{/images/left.svg}" height="14px" />
                                                    </div>
                                                </td>
                                                <td colspan="3"><span id="calYear">YYYY</span>년 <span id="calMonth">MM</span>월</td>
                                                <td>
                                                    <div class="calendarBtn" id="nextNextCalendar">
                                                        <img src="../../resources/images/right.svg" th:src="@{/images/right.svg}" height="14px" />
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>일</td>
                                                <td>월</td>
                                                <td>화</td>
                                                <td>수</td>
                                                <td>목</td>
                                                <td>금</td>
                                                <td>토</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <h3 class="font-16 ebold mb-15">인원</h3>
                                <div class="option-personnel mb-24 ml--20 mr--20 pl-20 pr-20">
                                    <div
                                        class="swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-free-mode"
                                        style="overflow: visible"
                                    >
                                        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px)">
                                            <div th:each="count : ${#numbers.sequence(1, 30)}" class="swiper-slide" style="width: auto; margin-right: 6px">
                                                <label>
                                                    <input type="radio" name="count" th:value="${count}" />
                                                    <span th:text="${count + '명'}"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="font-16 ebold mb-15">시간</h3>
                                <div
                                    class="swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-ios timeslot-swiper option-timetable"
                                >
                                    <div class="swiper-wrapper">
                                        <div th:each="timeOption : ${timeOptions}" class="swiper-slide" style="width: unset; margin-right: 6px">
                                            <label>
                                                <input type="radio" name="time" th:value="${#strings.replace(timeOption.time, ':', '')}" />
                                                <span th:text="${timeOption.time}"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                    <div class="sticky-bottom-btns">
                        <button class="btn btn-lg btn-red">
                            <span class="ebold">확인</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--/* footer th:fragment="footerFragment" */-->
        <div th:replace="~{template/footer :: footerFragment}"></div>
    </body>
</html>
