<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>메인</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:replace="~{template/common-js :: common-links}"/>
    <link rel="stylesheet" href="./login.css" th:href="@{/css/login.css}">
    <link rel="stylesheet"  href="../resources/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet"  href="../resources/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script defer th:src="@{/js/index.js}" src="../resources/js/index.js"></script>
    <script defer src="../../resources/js/zzim.js" th:src="@{/js/zzim.js}"></script>
</head>
<body>
<div class="wrapper">
    <header id="header">
        <div class="container">
            <div class="header-left">
                     <img class="logo" src="../../resources/images/mainPageLogo.png" th:src="@{/images/mainPageLogo.png}" alt="" />
<!--                <h1 class="logo">C</h1>-->

            </div>
            <div class="header-center">
                
            </div>
            <div class="header-right">
                <a class="bookmark_icon" th:href="@{/members/my}"><img th:src="@{/images/header-mark.svg}" src="../resources/images/header-mark.svg" alt="bookmark"></a>
                <a class="notice_icon"><img th:src="@{/images/header_notice.png}" src="../resources/images/header_notice.png" alt="bell"></a>
            </div>
        </div>
    </header>

    <section class="section1">
        <main id="main">
            <div class="swiper swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a th:href="@{|/search/monthly|}"><img th:src="@{/images/ad1.png}" src="../resources/images/ad_ex.png" alt="ad_1" ></a>
                    </div>
                    <div class="swiper-slide">
                        <a th:href="@{|/search/top|}"><img th:src="@{/images/ad2.png}" src="../resources/images/ad_ex.png" alt="ad_2" ></a>
                    </div>
                    <div class="swiper-slide">
                        <a th:href="@{|/search/today|}"><img th:src="@{/images/ad3.png}" src="../resources/images/ad_ex.png" alt="ad_3" ></a>
                    </div>
                    <div class="swiper-slide">
                        <a th:href="@{/restaurant/detail/47}"><img th:src="@{/images/ad4.png}" src="../resources/images/ad_ex.png" alt="ad_4" ></a>
                    </div>
                    <div class="swiper-slide">
                        <a th:href="@{/restaurant/detail/11}"><img th:src="@{/images/ad5.jpeg}" src="../resources/images/ad_ex.png" alt="ad_5"></a>
                    </div>
                    <div class="swiper-slide">
                        <a th:href="@{/restaurant/detail/135}"><img th:src="@{/images/ad6.jpeg}" src="../resources/images/ad_ex.png" alt="ad_6"></a>
                    </div>
                    <div class="swiper-slide">
                        <a th:href="@{/restaurant/detail/9}"><img th:src="@{/images/ad7.jpeg}" src="../resources/images/ad_ex.png" alt="ad_7"></a>
                    </div>
                </div>
                <!-- 페이지네이션 -->
                <div class="swiper-pagination"></div>
            </div>
        </main>
    </section>

    <section class="section2">
        <div class="shortcut_list_wrap">
            <div class="shortcut_list">
                <div class="list_item">
                    <a th:href="@{|/search/top|}">
                        <div class="icon"><img th:src="@{/images/top.png}" src="../resources/images/top.png"></div>
                        <div class="title">예약TOP</div>
                    </a>
                </div>
                <div class="list_item">
                    <a th:href="@{|/search/monthly|}">
                        <div class="icon"><img th:src="@{/images/today.png}" src="../resources/images/top.png"></div>
                        <div class="title">이달의 맛집</div>
                    </a>
                </div>
                <div class="list_item" data-category-seq="1">
                    <div class="icon_food"><img th:src="@{/images/food1.png}" src="../resources/images/top.png"></div>
                    <div class="title">한식</div>
                </div>
                <div class="list_item" data-category-seq="2">
                    <div class="icon_food"><img th:src="@{/images/food2.png}" src="../resources/images/top.png"></div>
                    <div class="title">중식</div>
                </div>
                <div class="list_item" data-category-seq="3">
                    <div class="icon_food"><img th:src="@{/images/food3.png}" src="../resources/images/top.png"></div>
                    <div class="title">일식</div>
                </div>
                <div class="list_item" data-category-seq="4">
                    <div class="icon_food"><img th:src="@{/images/food4.png}" src="../resources/images/top.png"></div>
                    <div class="title">양식</div>
                </div>
                <div class="list_item" data-category-seq="5">
                    <div class="icon_food"><img th:src="@{/images/food5.png}" src="../resources/images/top.png"></div>
                    <div class="title">분식</div>
                </div>
                <div class="list_item" data-category-seq="6">
                    <div class="icon_food"><img th:src="@{/images/food6.png}" src="../resources/images/top.png"></div>
                    <div class="title">카페</div>
                </div>
            </div>
        </div>
    </section>

    <section class="section3">
        <div class="container_scroll">
            <div class="section_header">
                <h3 class="section_title">어디로 가시나요?</h3>
            </div>
            <div class="section_body">
                <div class="v_scroll">
                    <div class="v_scroll_inner">
                        <div class="quick_search">
                            <a class="icon1" data-address="apgujeong,cheongdam"><span>압구정<br>청담</span></a>
                            <a class="icon2" data-address="hongdae,sinchon"><span>홍대<br>신촌</span></a>
                            <a class="icon3" data-address="busan"><span>부산</span></a>
                            <a class="icon4" data-address="hapjeong,mangwon"><span>합정<br>망원</span></a>
                            <a class="icon5" data-address="sungsoo"><span>성수</span></a>
                            <a class="icon6" data-address="gangnam,yeogsam"><span>강남<br>역삼</span></a>
                            <a class="icon7" data-address="jeju"><span>제주</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <section class="section4">
        <div  class="container_sub">
            <div class="sub_header">
                <div class="sub_header_container section-header-v">
                    <h3 class="sub_header_title">예약 핫플 BEST</h3>
                    <p>이달의 best 예약! 이번주는 여기 어떠세요?</p>
                    <a class="btn-more" th:href="@{|/search/best|}">전체보기</a>
                </div>
            </div>
            <div class="sub_body">
                <div class="v_scroll">
                    <div class="v_scroll_inner">
                        <div class="restaurant_list">
                            <div class="restaurant_list_item"th:each="restaurant : ${topResultList}">
                                <a class="restaurant_list_item_img" th:href="@{|/restaurant/detail/${restaurant.restaurant_seq}|}">
                                    <img
                                            class="img"
                                            src="../../resources/images/mongtanjeju.jpg"
                                            th:src="|https://kr.object.ncloudstorage.com/bitcamp-6th-bucket-97/storage/${restaurant.image_url}|"/>
                                </a>
                                <div class="detail">
                                    <a class="info" th:href="@{|/restaurant/detail/${restaurant.restaurant_seq}|}">
                                        <h3 class="restaurant_name" th:text="${restaurant.restaurant_name}">남영돈</h3>
                                        <div class="meta" >
                                            <span class="score" th:text="${restaurant.rating}">5.0</span>
                                            <span class="tags" th:text="${restaurant.tag}">돼지고기구이 • 남영</span>
                                        </div>
                                    </a>
                                    <a class="btn-bookmark"
                                       th:classappend="${restaurant.isZzimed} ? 'active' : ''"
                                       th:text="${restaurant.isZzimed}"
                                       th:data-restaurant-seq="${restaurant.restaurant_seq}"
                                    ></a>
                                </div>
                            </div>
                            <div class="showall">
                                <a th:href="@{|/search/best|}"><span>전체보기</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section4">
        <div  class="container_sub">
            <div class="sub_header">
                <div class="sub_header_container section-header-v">
                    <h3 class="sub_header_title">오늘의 예약</h3>
                    <p>오늘 뭐 먹을지 고민하고 계신다면 여기서 골라보세요:)</p>
                    <a class="btn-more" th:href="@{|/search/today|}">전체보기</a>
                </div>
            </div>
            <div class="sub_body">
                <div class="v_scroll">
                    <div class="v_scroll_inner">
                        <div class="restaurant_list">
                            <div class="restaurant_list_item" th:each="restaurant : ${todayResultList}">
                                <a class="restaurant_list_item_img" th:href="@{|/restaurant/detail/${restaurant.restaurant_seq}|}">
                                    <img
                                            class="img"
                                            src="../../resources/images/mongtanjeju.jpg"
                                            th:src="|https://kr.object.ncloudstorage.com/bitcamp-6th-bucket-97/storage/${restaurant.image_url}|"/>
                                </a>
                                <div class="detail">
                                    <a class="info" th:href="@{|/restaurant/detail/${restaurant.restaurant_seq}|}">
                                        <h3 class="restaurant_name" th:text="${restaurant.restaurant_name}">남영돈</h3>
                                        <div class="meta" >
                                            <span class="score" th:text="${restaurant.rating}">5.0</span>
                                            <span class="tags" th:text="${restaurant.tag}">돼지고기구이 • 남영</span>
                                        </div>
                                    </a>
                                    <a class="btn-bookmark"
                                       th:classappend="${restaurant.isZzimed} ? 'active' : ''"
                                       th:text="${restaurant.isZzimed}"
                                       th:data-restaurant-seq="${restaurant.restaurant_seq}"
                                    ></a>
                                </div>
                            </div>
                            <div class="showall">
                                <a th:href="@{|/search/today|}"><span>전체보기</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

 <div th:replace="~{template/footer :: footerFragment}"></div>
</body>
</html>