<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어드민 관리 테이블</title>
<link rel="stylesheet" href="../../resources/css/adminPage.css" th:href="@{/css/adminPage.css}">
    <script defer src="../../resources/js/adminPage.js" th:src="@{/js/adminPage.js}"></script>
</head>
<body>

<table id="adminTable">
    <tr>
        <th>식당 번호</th>
        <th>식당 이름</th>
        <th>주소</th>
        <th>연락처</th>
        <th>상태</th>
        <th>액션</th>
    </tr>
    <tr  th:each="restaurant : ${restaurantInfoList}">
        <td th:text="${restaurant.restaurant_seq}">1</td>
        <td th:text="${restaurant.restaurant_name}">식당 A</td>
        <td th:text="|${restaurant.address1} ${restaurant.address2}|">서울시 강남구</td>
        <td th:text="${restaurant.phone}">02-123-4567</td>
        <td th:text="${restaurant.status}"
        th:classappend="${#strings.equals(restaurant.status,'ACCESS')} ? 'access':''"
        >대기중</td>
        <td>
            <div class="action-box">
                <select class="status-select" th:id="${restaurant.restaurant_seq}">
                    <option value="STANDBY">대기</option>
                    <option value="ACCESS">승인</option>
                    <option value="DEMAND">수정요청</option>
                </select>
                <button type="button" th:onclick="|requestUpdate(${restaurant.restaurant_seq})|">요청</button>
            </div>
        </td>
    </tr>
</table>

<script>


</script>

</body>
</html>
