<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eathub.mapper.MemberMapper">

<!-- 아이디 중복 체크 -->
	<select id="selectMemberById" parameterType="String" resultType="memberDTO">
		select * from members where member_id=#{member_id}
	</select>

<!--등록 -->
	<insert id="insertMember" parameterType="memberDTO" >
		insert into members (member_id, 
							member_pwd, 
							member_name, 
							member_email, 
							member_phone, 
							member_type) 
					values(#{member_id},
							#{member_pwd},
							#{member_name},
							#{member_email},
							#{member_phone},
							#{member_type})
	</insert>
<select id="login" parameterType="loginDTO" resultType="memberDTO">
	select * from members where member_id=#{member_id} and member_pwd=#{member_pwd}
</select>

<!--    <select id="getmemberList" parameterType="java.util.Map" resultType="member">-->
<!--        SELECT * FROM members-->
<!--        LIMIT #{startNum}, #{endNum}-->
<!--    </select>-->

<!--    <select id="getTotalA" resultType="int">-->
<!--        select count(*) from members-->
<!--    </select>-->


<!-- id에 해당하는 글 가져오기 -->
<!--    <select id="getmember" parameterType="String" resultType="member">-->
<!--        select * from members where id = #{id}-->
<!--    </select>-->

<!--    <update id="update" parameterType="member">-->
<!--        update members set name=#{name}, pwd=#{pwd} where id=#{id}-->
<!--    </update>-->


<!--삭제-->
<!--    <delete id="delete" parameterType="String">-->
<!--        delete from members where id=#{id}-->
<!--    </delete>-->
</mapper>