<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eathub.mapper.RestaurantMapper">

    <select id="selectZzimList" parameterType="Long" resultType="restaurantZzim">
        SELECT *
        FROM restaurant_zzim
        WHERE member_seq = #{member_seq}
    </select>

    <select id="selectMyPageDTO" resultType="myPageDTO">
        SELECT *
        FROM restaurant_zzim z
                 LEFT JOIN restaurant_info Using (restaurant_seq)
        WHERE z.restaurant_seq = #{restaurant_seq}
          AND z.member_seq = #{member_seq}
    </select>

    <!-- 카테고리 목록 불러오기   -->
    <select id="selectCategoryList" resultType="categoryDTO">
        SELECT *
        FROM category
    </select>

    <!-- 마이페이지 찜목록 comment 업데이트-->
    <update id="updateZzimComment">
        UPDATE restaurant_zzim
        SET comment = #{comment}
        WHERE zzim_seq = #{zzim_seq}
    </update>

    <!-- 찜목록 추가-->
    <insert id="insertZzimRestaurant">
        INSERT INTO restaurant_zzim (member_seq, restaurant_seq)
        VALUES (#{member_seq}, #{restaurant_seq})
    </insert>

    <!-- 레스토랑 추가 -->
    <select id="insertRestaurant" parameterType="restaurantInfo">
        INSERT INTO restaurant_info(member_seq
                                   ,category_seq
                                   , restaurant_name
                                   , tag
                                   , location
                                   , description
                                   , phone
                                   , zipcode
                                   , address1
                                   , address2
                                   , openHour
                                   , closeHour
                                   , closedDay)
        VALUES (#{member_seq}
               ,#{category_seq}
               ,#{restaurant_name}
               ,#{tag}
               ,#{location}
               ,#{description}
               ,#{phone}
               ,#{zipcode}
               ,#{address1}
               ,#{address2}
               ,#{openHour}
               ,#{closeHour}
               ,#{closedDay})

    </select>


    <!-- 찜목록 삭제-->
    <delete id="deleteZzimRestaurant">
        DELETE FROM restaurant_zzim
        WHERE member_seq = #{member_seq} AND restaurant_seq = #{restaurant_seq}
    </delete>

</mapper>
