<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eathub.mapper.ReviewMapper">

    <!-- INSERT-->
    <insert id="insertReview" parameterType="com.eathub.dto.ReviewDTO">
        INSERT INTO review (res_seq, content, rating, createdAt)
        VALUES (#{res_seq}, #{content}, #{rating}, NOW())
    </insert>
    <insert id="insertReviewImages" parameterType="com.eathub.dto.ReviewDTO">
            INSERT INTO review_pictures (res_seq, picture_url)
            VALUES
        <foreach collection="pictureUrls" item="picture" separator=",">
                (#{res_seq}, #{picture})
        </foreach>
    </insert>

    <!-- SELECT-->

    <select id="checkReviewData" resultType="com.eathub.dto.ReviewDTO">
        SELECT r.res_seq, r.restaurant_seq, r.member_seq, rv.res_seq AS existing_review
        FROM reservation r
            LEFT JOIN review rv ON r.res_seq = rv.res_seq
        WHERE r.res_status = 'OK' AND r.res_seq = #{res_seq}
    </select>


    <select id="selectReviewList" resultType="com.eathub.dto.ReviewDTO">
        select res_seq,rating,content,restaurant_seq,member_seq
        from review
            LEFT JOIN reservation USING (res_seq)
        where restaurant_seq = #{restaurant_seq}
        order by rating desc;
    </select>
    <select id="selectReviewListPage" resultType="com.eathub.dto.ReviewDTO">
        select res_seq,rating,content,restaurant_seq,member_seq,createdAt
        from review
                LEFT JOIN reservation USING (res_seq)
        where restaurant_seq = #{restaurant_seq}
        order by rating desc,res_seq desc
        limit #{page},2;
    </select>
    <select id="selectReviewImages">
        SELECT picture_url
        FROM review_pictures
        WHERE res_seq = #{res_seq}
    </select>


<select id="calculateReviewStats" resultType="com.eathub.dto.ReviewStatsDTO">
    SELECT COUNT(*) as review_count,
                    AVG(rating) as rating_avg
    from reservation r
        LEFT JOIN review v ON r.res_seq = v.res_seq
    WHERE restaurant_seq= #{restaurant_seq} AND rating IS NOT NULL;
</select>

<!-- 리뷰페이지에서 평점당 갯수 구하기-->
<select id="selectReviewCount" resultType="com.eathub.dto.ReviewStatsDTO">
    SELECT a.rating, COALESCE(b.count, 0) AS count
    FROM (
             SELECT 1 AS rating
             UNION ALL SELECT 2
             UNION ALL SELECT 3
             UNION ALL SELECT 4
             UNION ALL SELECT 5
         ) a
             LEFT JOIN (
        SELECT rating, COUNT(*) AS count
        FROM reservation r
                 LEFT JOIN review v ON r.res_seq = v.res_seq
        WHERE r.restaurant_seq = #{restaurant_seq} AND v.rating IS NOT NULL AND v.rating BETWEEN 1 AND 5
        GROUP BY v.rating
    ) b ON a.rating = b.rating
    order by rating desc;
</select>

<!-- UPDATE-->
<update id="updateReviewCountAndRatingAvg">
    UPDATE restaurant_info
    SET rating = #{rating_avg}, review_total = #{review_count}
    WHERE restaurant_seq = #{restaurant_seq};
</update>
<!-- DELETE-->
</mapper>